<div class="list-group">
    {% for item in list %}
    <a href="{{ 'job'|page({id: item.id}) }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ item.name }}</h4>
    </a>
    {% endfor %}

</div>