<section class="section-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="footer-logo">
                        <img src="{{ 'assets/images/logo.png'|theme }}" />
                    </div>
                    <p class="footer-des">REERACOEN VIETNAM is a subsidiary of Neo Career which is the leader of recruitment consultant agencies located in Japan managed by professional team for HR consulting. We aim to think about the suitable candidate and the fast - service which is the most important for job searching.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                    <h5>HOT LOCATION</h5>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <p>Reeracoen Indonesia</p>
                            <p>Reeracoen Singapore</p>
                            <p>Reeracoen Philippines</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <p>Reeracoen Indonesia</p>
                            <p>Reeracoen Singapore</p>
                            <p>Reeracoen Philippines</p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h5>HOT LOCATION</h5>
                    <p>Privacy Policy</p>
                    <p>About REERACOEN</p>
                    <p>Sitemap</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="primary">
    <div class="container">
        <div class="copy-right">
            <div class="right">Total visit: 668929</div>
            <div class="">© 2010-2017 REERACOEN VIET NAM</div>

        </div>
    </div>
</section>