<div class="header">
    <div class="logo">
        <img src="{{ 'assets/images/logo.png'|theme }}" alt="logo"/>
    </div>

    <div class="header-menu">
        <ul>
            <li><a href="{{ 'home2'|page }}">Home</a></li>
            <li><a href="{{ 'advance-search'|page }}">jobs</a>
                <ul>
                    <li><a href="#">job for japanese</a></li>
                    <li><a href="#">job for vietnamese</a></li>
                </ul>
            </li>
            <li><a href="{{ 'about-us'|page }}">About</a></li>
            <li><a href="{{ 'for-clients'|page }}">For clients</a></li>
            <li><a href="{{ 'about-us'|page }}">Business Info </a></li>
            <li><a href="{{ 'about-us'|page }}">About Japan</a></li>

        </ul>
    </div>
    <div class="header-right">
        <div class="flag">
            <img src="{{ 'assets/images/Flag_JP.png'|theme }}" />
            <i class="fa fa-caret-down"></i>
            <div class="flag-content">
                <ul>
                    <li class="active"><i class="flag_JP"></i>Japanese</li>
                    <li><i class="flag_EN"></i>English</li>
                    <li><i class="flag_VN"></i>Vietnamese</li>
                </ul>
            </div>
        </div>
        {% if user %}

        <div class="username">
            <span>{{ user.name }}</span>
            <div class="username__content">
                <ul>
                    <li class="active"><a href="{{ 'account'|page }}">user profile</a></li>
                    <li><a href="{{ 'job-applied'|page }}">jobs applied</a></li>
                    <li><a href="#" data-request="onLogout" data-request-data="redirect: '/'">log out</a></li>
                </ul>
            </div>
        </div>
        <div class="avatar"><img class="avatar" src="{% if account.userAvatar.path %} {{account.userAvatar.path}} {% else %} {{'plugins/clake/userextended/assets/img/default_user.png'|app}} {% endif %}" alt="" width="20" /></div>
        {% else %}
        <a href="{{ 'signin'|page }}" class="login">login</a>
        <a href="{{ 'register'|page }}" class="sign-up">sign up</a>
        {% endif %}

    </div>
</div>