

<div class="header">
    <section>
        <div class="logo">
            <img src="{{ 'assets/images/logo.png'|theme }}" alt="logo"/>
        </div>

        <div class="header-menu">
            <ul>
                <li><a href="{{ 'home2'|page }}">Home</a></li>
                <li><a href="{{ 'advance-search'|page }}">jobs</a>
                    <ul>
                        <li><a href="#">job for japanese</a></li>
                        <li><a href="#">job for vietnamese</a></li>
                    </ul>
                </li>
                <li><a href="{{ 'about-us'|page }}">About</a></li>
                <li><a href="{{ 'for-clients'|page }}">For clients</a></li>
                <li><a href="{{ 'about-us'|page }}">Business Info </a></li>
                <li><a href="{{ 'about-us'|page }}">About Japan</a></li>

            </ul>
        </div>
        <div class="header-right">
            <div class="flag">
                <img src="{{ 'assets/images/Flag_JP.png'|theme }}" />
                <i class="fa fa-caret-down"></i>
                <div class="flag-content">
                    <ul>
                        <li class="active"><i class="flag_JP"></i>Japanese</li>
                        <li><i class="flag_EN"></i>English</li>
                        <li><i class="flag_VN"></i>Vietnamese</li>
                    </ul>
                </div>
            </div>
            {% if user %}

            <div class="username">
                <span>{{ user.name }}</span>
                <div class="username__content">
                    <ul>
                        <li class="active"><a href="{{ 'account'|page }}">user profile</a></li>
                        <li><a href="{{ 'job-applied'|page }}">jobs applied</a></li>
                        <li><a href="#" data-request="onLogout" data-request-data="redirect: '/'">log out</a></li>
                    </ul>
                </div>
            </div>
            <div class="avatar"><img class="avatar" src="{% if account.userAvatar.path %} {{account.userAvatar.path}} {% else %} {{'plugins/clake/userextended/assets/img/default_user.png'|app}} {% endif %}" alt="" width="20" /></div>
            {% else %}
            <a href="{{ 'signin'|page }}" class="login">login</a>
            <a href="{{ 'register'|page }}" class="sign-up">sign up</a>
            {% endif %}

        </div>
    </section>
    <section class="grey-lighten-1 section-welcome">
        <div class="container">
            <div class="welcome">
                <div class="welcome-content">
                    <h1 class="h1 text-center">Find Your <span class="text-primary">Dream Job Today!</span></h1>
                    <p class="font-size-18 text-center text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo <br>ligula eget dolor. Aenean massa.
                    </p>
                    {% component 'jobsearch' %}
                    <div class="advance-search">
                        <a href="{{ 'advance-search'|page }}">Advance search</a>
                    </div>
                    <div class="banner-container">
                        <h5 class="uppercase h5">New arrival of Jobs</h5>
                        {% component 'job' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>