{% set jobId = __SELF__.jobId %}

<a href="#" class="" data-request="onBookmark" data-request-flash data-request-data="id: {{ jobId }}, isBookmarked: {{ isBookmarked }}">
    {% if isBookarked %}
    <i class="icon icon-star-active"></i>
    {% else %}
    <i class="icon icon-star"></i>
    {% endif %}

</a>