title = "Summary page"
url = "/account/summary/:code?"
layout = "account"
description = "Sign in, registration and account management."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ueuser]
type = "random"
maxItems = 5
paramCode = "user"
profilePage = "profile"
template = "social"

[bookmarklist]

[applyjoblist]

[experience]
==

{% set attributes = {} %}
{% for s,a in account.updateSettings %}

	{% set attributes = attributes | merge({(s): (a)}) %}

{% endfor %}
<div class="layout-1-main white">
	<div class="profile-contact white margin-bottom-8">
		<h4 class="h4 text-primary">SAVED CVS</h4>
		<div class="CVs">
			{% for cv in resume|slice(0,3) %}
			<div class="CV active">
				<h5 class="h5 position"><i class="icon icon-attach-file"></i> {{ cv.title|default('Graphic Designer') }}</h5>
				<div class="file-name">{{ cv.file_name }}</div>
				<a href="#" class="right action">Change</a>
				<div class="date">Last updated: {{ cv.updated_at|date('d/m/Y') }}</div>
			</div>
			{% endfor %}

			<a href="#" class="upload-cv">
				<i class="fa fa-plus fa-2x"></i>
				upload CV
			</a>
		</div>
	</div>
	<div class="profile-contact">
		<h4 class="h4 text-primary">CONTACT</h4>	
		<div class="box">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">full name</label>
						<div class="form-control-static">{{user.name}}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">email</label>
						<div class="form-control-static">{{user.email}}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">date of birth</label>
						<div class="form-control-static">{{attributes.dob[0]|date('d F, Y')|default('24 August, 199') }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">Nationality</label>
						<div class="form-control-static">{{ attributes.nationality[0]|default('Local Vietnamese') }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">Country</label>
						<div class="form-control-static">{{ attributes.nationality[0]|default('Viet Nam') }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">GENDER</label>
						<div class="form-control-static">{{ attributes.gender[0]|capitalize|default('Male') }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">Province / City</label>
						<div class="form-control-static">{{ attributes.city[0]|default('Ho Chi Minh City') }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">Phone Number</label>
						<div class="form-control-static">{{ attributes.phone[0]|default('0923193219312') }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
						<label class="control-label uppercase">Summary</label>
						<div class="form-control-static">{{attributes.description[0]}}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
						<label class="control-label uppercase">Japanese</label>
						<div class="form-control-static">{{attributes.japaneselevel[0]}}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
						<label class="control-label uppercase">English</label>
						<div class="form-control-static">{{attributes.englishlevel[0]}}</div>
					</div>
				</div>
			</div>
			<h6 class="h6">SKILLS</h6>
			<div class="badges margin-top-8">
				<a href="#" class="badge white border">Healthcare</a>
				<a href="#" class="badge white border">Logistics</a>
				<a href="#" class="badge white border">Interactive Design</a>
				<a href="#" class="badge button">+ Add new skill</a>
			</div>
		</div>

		{% component 'experience' %}

		{% component 'experience::form' %}

		{% component 'experience::edu' %}
		{% component 'experience::form1' %}

		<h4 class="h4 margin-top-32 text-primary">WORKING PREFERENCES</h4>	
		<div class="box">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">Preferred Working Location</label>
						<div class="form-control-static">Ho Chi Minh City</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">Job Category</label>
						<div class="form-control-static">Graphic Design, UI/UX, Web Design</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label uppercase">Expected Salary (USD per month)</label>
						<div class="form-control-static">$899</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>