title = "Blog Post"
url = "/blog/post/:slug"
layout = "grey2"
description = "Viewing a single blog post"
hidden = "0"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

==
<?php
function onEnd()
{
    $this->page->title = $this->post->title;
}
?>
==
{% component 'blogPost' %}

<hr />
<h4>Comments</h4>
{% if user %}
{% else %}
    <p>Please <a href="{{ 'account'|page }}">sign in</a> to comment!</p>
{% endif %}