{% set job = __SELF__.job %}
<div class="col-lg-12">
    <h1>Detail</h1>
</div>
<div class="col-lg-12">
    {% for field in job.fields_pivot_model %}
    <p><strong>{{ field.name }}</strong> {{ field.pivot.value }}</p>
    {% endfor %}
</div>


