{% set list = __SELF__.list %}

<div class="job-list">
    {% for item in list %}
        {% set fields = {} %}
        {% for field in item.fields_pivot_model %}
        {% set fields = fields|merge({(field.code):(field.pivot.value)}) %}
        {% endfor %}
        <div class="job" style="margin-top: 24px">
            <div class="job-col">
                <h4 class="job-title h4">{{ item.name }}<a class="badge badge-primary">Featured</a></h4>
                <time class="job-time">Posted: {{ fields.registration_date|date('d/m/Y') }}</time>
                <div>
                    <a href="#" class="badge">{{ fields.job_category }}</a>
                </div>
            </div>
            <div class="job-col">
                <address class="job-address">{{ fields.work_location_text_ }}</address>
                <h6 class="job-price">{{ fields.minimum_salary_vnd_ }} - {{ fields.maximum_salary_vnd_ }} {{ fields.salary_rate }}</h6>
            </div>
            <div class="job-col">
                <a href="#"><i class="icon icon-star-active"></i></a>
            </div>
        </div>
    {% endfor %}

</div>