<div class="box-grey add-new-exp hide">
    <form id="popup-exp-form">
        <input type="hidden" name="type" value="exp">
        <div class="row">
            <div class="col xs-12 col-sm-6 col-md-7 col-lg-7">
                <div class="form-group">
                    <label class="control-label uppercase">TITLE / POSITION</label>
                    <input type="text" class="form-control" placeholder="First name" name="title" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="control-label uppercase">TYPE OF WORK</label>
                    <select class="form-control" name="type_of_work">
                        <option value="">Freelance</option>
                    </select>
                </div>
            </div>
            <div class="col xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="control-label uppercase">Location</label>
                    <input type="text" class="form-control" placeholder="Ho Chi Minh City" name="location" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="control-label uppercase">Duration</label>
                    <select class="form-control" name="dobmonth">
                        <option value="">Month</option>
                        {% for num in range(1,12) %}
                        <option value="{{ num }}" >{{ date('2012-' ~ num ~ '-01') |date('M') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="control-label uppercase">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Year" name="from[year]" />
                </div>
            </div>
            <div class="col xs-12 col-sm-12 col-md-1 col-lg-1">
                <div class="form-group">
                    <label class="control-label uppercase">&nbsp;</label>
                    <div class="form-control-label text-center">TO</div>
                </div>
            </div>
            <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="control-label uppercase">&nbsp;</label>
                    <select class="form-control" name="dobmonth">
                        <option value="">Month</option>
                        {% for num in range(1,12) %}
                        <option value="{{ num }}" >{{ date('2012-' ~ num ~ '-01') |date('M') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="control-label uppercase">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Year" name="to[year]" />
                </div>
            </div>
        </div>
        <div class="flex flex-end">
            <div class="form-group flex-1">
                <label class="control-label uppercase">Description</label>
                <textarea rows="2" class="form-control" name="description"></textarea>
            </div>
        </div>
    </form>
</div>