<div class="modal modal-md apply-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="h4 modal-title uppercase text-primary">(3/3) Personal Information</h4>
            <a href="#" class="remove">&#10006;</a>
        </div>
        <div class="modal-body">
            <div class="experiences">
                <div href="#" class="experience add">
                    <i class="fa fa-plus"></i> ADD NEW EDUCATIONS
                </div>
            </div>
            <!-- <div style="height: 397px;"></div> -->
            {% partial 'applyjob/eduform' %}
        </div>

        <div class="modal-footer text-right">
            <a href="#" class="btn btn-cancel font-size-10 bold">CANCEL</a>
            <a href="#" class="btn btn-save font-size-10 bold btn-success">APPLY</a>
        </div>
    </div>
</div>