<div class="modal modal-md apply-modal">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="remove">&#10006;</a>
            <h3 class="h3 modal-title uppercase text-primary bold">{{ fields.position }}</h3>
            <h4 class="h4 modal-sub-title">{{ fields.minimum_salary_vnd_ }} - {{ fields.maximum_salary_vnd_ }}</h4>
            <address class="address">
                <span><i class="icon icon-location"></i> {{ fields.work_location_text_ }}</span>
                <span><i class="icon icon-time"></i> Posted {{ model.registration_date|date('d/m/Y') }}</span>
            </address>
            <div class="divider"></div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="circle" style="margin: 0 auto 24px;">
                        <img src="{{ user.avatar.path }}" class="image" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                            <div class="form-group margin-bottom-24">
                                <label class="control-label uppercase font-size-14 margin-bottom-4">{{ user.name }}</label>
                                <div class="form-control-static bold-500 font-size-12">UI/UX Designer <i class="fa fa-pencil"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group margin-bottom-24">
                                <label class="control-label uppercase margin-bottom-4">Email</label>
                                <div class="form-control-static">{{ user.email }}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group margin-bottom-24">
                                <label class="control-label uppercase margin-bottom-4">Phone number</label>
                                <div class="form-control-static">{{ user.phone }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="CV-list">
                        {% for cv in user.resume|slice(0,1) %}
                        <div class="x2 CV-item active">
                            <h5 class="h5 position"><i class="icon icon-attach-file"></i> {{ cv.title }}</h5>
                            <div class="file-name">{{ cv.file_name }}</div>
                            <a href="#" class="right action">Change</a>
                            <div class="date">Last updated: {{ cv.updated_at|date('d/m/Y') }}</div>
                        </div>
                        {% endfor %}


                        <a href="#" class="x1 upload-cv">
                            <i class="fa fa-plus fa-2x"></i>
                            upload CV
                        </a>
                        <div style="height: 0; width: 0;">
                            {{ form_open({files: true, request: 'onUploadCv', id: 'updateCVForm', 'data-request-flash': ''}) }}
                            <input type="file" name="cv" class="upload-cv-file" style="height: 0;width: 0;">
                            {{ form_close() }}
                        </div>


                        {% for cv in user.resume|slice(1,user.resume.count()-1) %}
                        <div class="x2 CV-item">
                            <h5 class="h5 position"><i class="icon icon-attach-file"></i> {{ cv.title }}</h5>
                            <div class="file-name">{{ cv.file_name }}</div>
                            <a href="#" class="right action"><i class="icon icon-delete"></i></a>
                            <div class="date">Last updated: {{ cv.updated_at|date('d/m/Y') }}</div>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <a href="#" class="btn btn-lg btn-block btn-success" style="font-size: 14px">update your cv</a>
                        </div>
                    </div>
                    <div class="row margin-top-8 margin-bottom-8">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group margin-bottom-24">
                                <label class="control-label margin-bottom-4 bold">resumehnq.pdf</label>
                                <div class="form-control-static font-size-12 bold-500">Last updated: 17/07/2017</div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <a href="#" class="btn btn-cancel font-size-10 bold">CANCEL</a>
            <a href="#" class="btn btn-save font-size-10 bold btn-success" data-loading="">APPLY</a>
            <p class="font-size-12 bold-600 text-center margin-top-24 hide error-message">Your profile is incomplete, click <a href="javascript:void(0)" class="btn-fill">here</a> to fill it</p>
        </div>
    </div>
</div>