
<div class="modal modal-md apply-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="h4 modal-title uppercase text-primary">(1/3) Personal Information</h4>
            <a href="#" class="remove">&#10006;</a>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="control-label uppercase">full name *</label>
                            <input type="text" class="form-control" placeholder="First name" name="firstname" value="{{user.surname}}" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                        <div class="form-group">
                            <label class="control-label uppercase hide-xs">&nbsp;</label>
                            <input type="text" class="form-control" placeholder="Last name" name="lastname" value="{{account.updateSettings.lastname[0]}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="control-label uppercase">Birthday</label>
                            <input type="text" class="form-control" placeholder="Day" name="dobday" value="{{account.updateSettings.dobday[0]}}" />
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="control-label uppercase">&nbsp;</label>
                            <div class="input-icon">
                                <select class="form-control" name="dobmonth">
                                    <option value="">Month</option>
                                    {% for num in range(1,12) %}
                                    <option value="{{ num }}" {% if account.updateSettings.dobmonth[0] == num %} selected {% endif %}>{{ date('2012-' ~ num ~ '-01') |date('M') }}</option>
                                    {% endfor %}
                                </select>
                                <i class="icon icon-dropdown-indicator icon-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="control-label uppercase hide-xs">&nbsp;</label>
                            <input type="text" class="form-control" placeholder="Year" name="dobyear" value="{{account.updateSettings.dobyear[0]}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            {% set genders = [{label: 'Male', value: 'male'}, {'label': 'Female', value: 'female'}]%}
                            <label class="control-label uppercase">Gender</label>
                            <select class="form-control" name=gender>
                                {% for _gender in genders %}
                                <option value="{{_gender.value}}" {% if account.updateSettings.gender[0] == _gender.value %} selected {% endif %}>{{_gender.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                        <div class="form-group">
                            <label class="control-label uppercase">Japanese Level</label>
                            {% set japaneselevels = [{value: 'Intermediate', label: 'Intermediate'}, {value: 'Low Intermediate', label: 'Low Intermediate'}] %}
                            <select class="form-control" name=japaneselevel>
                                {% for item in japaneselevels %}
                                <option value="{{item.value}}" {% if account.updateSettings.japaneselevel[0] == item.value %} selected {% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                        <div class="form-group">
                            <label class="control-label uppercase">English Level</label>
                            {% set englishlevels = [{value: 'Intermediate', label: 'Intermediate'}, {value: 'Low Intermediate', label: 'Low Intermediate'}] %}
                            <select class="form-control" name=englishlevel>
                                {% for item in englishlevels %}
                                <option value="{{item.value}}" {% if account.updateSettings.englishlevel[0] == item.value %} selected {% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-8">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label uppercase">Description</label>
                            <textarea class="form-control" rows="3" placeholder="Specify briefly your profile and career objectives" name="description">{{account.updateSettings.description[0]}}</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer text-right">
            <a href="#" class="btn btn-cancel font-size-10 bold">CANCEL</a>
            <a href="#" class="btn btn-save font-size-10 bold btn-success">NEXT</a>
        </div>
    </div>
</div>