description = "Index layout"

[session]
security = "all"

[ueuser]
type = "random"
maxItems = 5
paramCode = "user"
profilePage = "profile"
template = "social"

[Clake\UserExtended\Components\Account account]
redirect = "account"
paramCode = "code"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Reeracoen</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ 'assets/components/font-awesome/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}"/>
    <link rel="stylesheet" href="{{ 'assets/plugin/OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.carousel.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/plugin/OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.theme.default.min.css'|theme }}">
</head>
<body>
<div class="wrapper">

    <header class="grey-lighten-1 {% if this.page.id == 'about-us' %} bg bg-about {% else %} bg bg-for-client {% endif %} ">
        <section>
            <div class="container">
                {% partial 'header-about' %}
            </div>
        </section>
        <section class="">
            <div class="container">
                <div class="about">
                    <div class="about-content">
                        <h1 class="h1 text-center text-white">About REERACOEN</h1>
                        <p class="font-size-18 margin-top-16 text-center text-white">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            <br> ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer
                            <br> adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>

        {% page %}
    </main>
    <footer class="footer grey-lighten-1">
        {% partial 'footer' %}
    </footer>
</div>
<!-- Scripts -->
<script src="{{ [
            'assets/javascript/jquery.js',
            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',
            'assets/javascript/app.js',
            'assets/components/owl.carousel/dist/owl.carousel.js'
        ]|theme }}"></script>
{% framework extras %}
{% scripts %}
<script type="text/javascript">
    $(document).on('ready', function() {
        $('#recruitment').owlCarousel({
            loop:true,
            margin:10,
            nav:true,

            dots: false,
            navText: ['<i class="icon icon-nav-prev"></i>','<i class="icon icon-nav-next"></i>'],

            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true,

            responsive:{
                0:{
                    items:3
                },
                600:{
                    items:4
                },
                1000:{
                    items:4
                }
            }
        });
        $('#career').owlCarousel({
            loop:true,
            margin:10,
            nav:true,

            dots: false,
            navText: ['<i class="icon icon-nav-prev"></i>','<i class="icon icon-nav-next"></i>'],

            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true,

            responsive:{
                0:{
                    items:3
                },
                600:{
                    items:4
                },
                1000:{
                    items:4
                }
            }
        });
    });
</script>
</body>
</html>