description = "Account layout"

[session]
security = "all"

[ueuser]
type = "random"
maxItems = 5
paramCode = "user"
profilePage = "profile"
template = "social"

[Clake\UserExtended\Components\Account account]
redirect = "account/summary"
paramCode = "code"

[uploadcv]
==
<?php
public function onStart ()
{
    $user = \Auth::getUser();
    if (!$user)
    {
        return \Redirect::to('/signin');
    }

    $this['resume'] = $user->resume()->get()->reverse();
}

public function onUpdate() {
    $this->account->onUpdate();
    return \Redirect::to('account/summary');
}

?>
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Reeracoen</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ 'assets/components/font-awesome/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}"/>
</head>
<body>
<div class="wrapper">
    <header class="grey-lighten-2">
        <div class="container">
            {% partial 'header-devide' %}
        </div>
    </header>
    <main>

        <section class="profile">

            <div class="layout-1">
                <div class="layout-1-left">
                    <div class="profile-general white">
                        {% if user %}
                        {{ form_open({ files: true, request: 'onChangeAvatar', id: 'changeAvatarForm' }) }}
                        <div class="profile-avatar">


                            <img
                                    src="{% if account.userAvatar.path %} {{account.userAvatar.path}} {% else %} {{'plugins/clake/userextended/assets/img/default_user.png'|app}} {% endif %}"><br>



                        </div>

                        <input type="file" name="avatar" style="height: 0; width: 0">
                        <h5 class="h5 profile-name btn-select-avatar">{{ user.name }}<i class="fa fa-pencil "></i></h5>
                        {{ form_close() }}
                        {% endif %}

                        {% set exps = [] %}
                        {% for exp in user.experiences %}
                            {% if exp.type == 'exp' %}
                            {% set exps = exps|merge([exp]) %}
                            {% endif %}
                        {% endfor %}
                        {% set exp = exps|last|default({}) %}
                        <h6 class="h6 profile-job">{{ exp.title }}</h6>
                        <p class="profile-des">{{ account.updateSettings.description[0] }}</p>

                        {% component 'uploadcv' %}

                        <time class="profile-date">Last updated: {{ exp.updated_at|date('d/m/Y') }}</time>
                        <div class="profile-checkbox">
                            <div>wait for scouting</div>
                            <label class="switch">
                                <input type="checkbox"/>
                                <span class="slider round"></span>
                                <span></span>
                            </label>
                        </div>
                        <ul class="profile-menu">
                            <li><a href="#">Personal Information</a></li>
                            <li><a href="#">Education - Experiences</a></li>
                            <li><a href="#">Job preferences</a></li>
                        </ul>
                        <h6 class="h6">SKILLS</h6>
                        <div class="badges">
                            <a href="#" class="badge white border">Healthcare</a>
                            <a href="#" class="badge white border">Logistics</a>
                            <a href="#" class="badge white border">Interactive Design</a>
                            <a href="#" class="badge button">+ Add new skill</a>
                        </div>
                        <div class="form-group margin-top-4">
                            <input type="text" placeholder="Skill..." class="form-control width-120" />
                        </div>
                    </div>
                </div>
                <div class="layout-1-main">
                    {% flash %}
                    <div class="alert alert-{{ type }} " role="alert">
                        {{ message }}
                    </div>
                    {% endflash %}
                    {% page %}
                </div>
                <div class="layout-1-right">
                    <a href="#" class="btn btn-block btn-lg-54 margin-bottom-8 btn-success">RECOMMENDED JOBS</a>
                    <a href="{{ 'job-saved'|page }}" class="btn btn-block btn-lg-54 margin-bottom-8 btn-primary">JOB SAVED</a>
                    <a href="{{ 'job-applied'|page }}" class="btn btn-block btn-lg-54 margin-bottom-8 btn-primary">JOB I APPLIED</a>
                    <div class="adv">
                        <div class="adv-image"><img src="{{ 'assets/images/adv-1.jpg'|theme }}" alt=""></div>
                        <div class="adv-text">
                            <h4 class="h4 text-center">HERE IS SPACE FOR AN AWESOME ADS OR CAMPAIGN</h4>
                            <a href="#" class="btn btn-block btn-lg btn-primary">Lorem ipsum</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        {% partial 'footer' %}
    </footer>
</div>
<!-- Scripts -->
<script src="{{ [
            'assets/components/jquery/jquery.min.js',
            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',
            'assets/javascript/app.js',
            'assets/javascript/account.js'
        ]|theme }}"></script>
{% framework extras %}
{% scripts %}

<script type="text/javascript">
    $(function () {
        $('.btn-select-avatar').click(function () {
            $(this).prev().click();

            $('#changeAvatarForm').on('change', function () {
                $(this).submit();
            })
        });
    });
</script>
</body>
</html>