description = "Index layout"

[session]
security = "all"

[Clake\UserExtended\Components\Account account]
redirect = "account"
paramCode = "code"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Reeracoen</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ 'assets/components/font-awesome/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}"/>
</head>
<body>
<div class="wrapper">
    <header class="grey-lighten-2">
        <div class="container">
            {% partial 'header' %}
        </div>
    </header>
    <main>
        {% page %}
    </main>
    <footer class="footer">
        {% partial 'footer' %}
    </footer>
</div>
<!-- Scripts -->
<script src="{{ [
            'assets/javascript/jquery.js',
            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',
            'assets/javascript/app.js'
        ]|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>