{% set list = __SELF__.list %}

<div class="portlet">
    <h4 class="h4 text-center margin-top-8 margin-bottom-32 text-primary">JOB SAVED</h4>
    <div class="portlet-header">
        <h4 class="h4 uppercase portlet-title"></h4>
        <div class="portlet-action">
            Sort by:
            <a class="active">DATE</a>  |
            <a>RELEVANCE</a>  |
            <a>SALARY</a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="job-list">
            {% for item in list %}
                {% set fields = {} %}
                {% for field in item.fields_pivot_model %}
                    {% set fields = fields|merge({(field.code):(field.pivot.value)}) %}
                {% endfor %}
            <div class="job">
                <div class="job-col">
                    <h4 class="job-title h4">{{ item.name }} <a class="badge">Featured</a></h4>
                    <time class="job-time">Posted: {{ fields.registration_date|date('d/m/Y') }}</time>
                    <div>
                        <a href="#" data-request="onSearchByCategory" data-request-data="id: {{ item.id }}" class="badge">{{ fields.job_category }}</a>
                    </div>
                </div>
                <div class="job-col">
                    <address class="job-address">{{ fields.work_location_text_ }}</address>
                    <h6 class="job-price">{{ fields.minimum_salary_vnd_ }} - {{ fields.maximum_salary_vnd_ }} {{ fields.salary_rate }}</h6>
                </div>
                <div class="job-col">
                    <a href="#" data-request="onBookmark" data-request-flash data-request-data="id: {{ item.id }}, isBookmarked: {{ item.isBookmarked }}"><i class="icon {{ item.isBookmarked() ? 'icon-star-active' : 'icon-star' }}"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>