{{ form_ajax('onSave', {model: profile}) }}
<div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="first_name"
           value="{{ form_value('first_name') }}">
</div>
<div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="last_name"
           value="{{ form_value('last_name') }}">
</div>
<div class="form-group">
    <label for="displayName">Display Name</label>
    <input type="text" class="form-control" id="displayName" name="display_name"
           value="{{ form_value('display_name') }}">
</div>
<div class="form-group">
    <label for="gender">Gender</label>
    <input type="text" class="form-control" id="gender" name="gender" value="{{ form_value('gender') }}">
</div>
<div class="form-group">
    <label for="dob">Date of birth</label>
    <input type="datetime" class="form-control" id="dob" name="dob" value="{{ form_value('dob') }}">
</div>
<div class="form-group">
    <label for="title">Title</label>
    <select class="form-control" name="title" id="title">
        {% for value in ['mr', 'mrs', 'ms', 'miss'] %}}
        <option value="{{ value }}" {{ (profile.title == value) ? 'selected' : ''}}  >{{ value|capitalize }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-default">Save</button>
</div>
{{ form_close() }}