{% set posts = blogPosts.posts %}
{% for index,post in posts %}
    {% if index is even %}

<div class="blog">
    <div class="blog-image">
        {% if post.featured_images.count > 0 %}
            <img src="{{ post.featured_images.first.getPath() }}" alt=""></div>
        {% else %}
            <img class="media-object" src="http://placehold.it/100x100" />
        {% endif %}
    <div class="blog-content">
        <a href="#" class="btn-travel btn-primary">travel</a>
        <h3 class="h3 blog-title">{{ post.title }}</h3>
        {{ post.excerpt|raw }}
        <h6 class="h6 blog-link text-primary"><a href="{{ post.url }}">keep reading</a></h6>
    </div>
</div>

    {% else %}
<div class="blog">
    <div class="blog-content">
        <a href="#" class="btn-travel">travel</a>
        <h3 class="h3 blog-title">{{ post.title }}</h3>
        {{ post.excerpt|raw }}
        <h6 class="h6 blog-link text-primary"><a href="#">keep reading</a></h6>
    </div>
    <div class="blog-image">
        {% if post.featured_images.count > 0 %}
            <img src="{{ post.featured_images.first.getPath() }}" alt="">
        {% else %}
            <img src="http://placehold.it/100x100" />
        {% endif %}
    </div>
</div>

    {% endif %}

{% else %}
<div class="no-data">
    <p>{{ noPostsMessage }}</p>
</div>
{% endfor %}

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}