{% set list = __SELF__.list %}
<div class="grid-item">
    {% for item in list|slice(0,5) %}
    <div class="box-item">
        <div class="banner">
            <h4 class="banner__title" title="{{ item.position }}"><a href="{{ item.url }}">{{ str_limit(item.position, 20, '...') }}</a></h4>

            <p title="{{ item.work_location_text_ }}">{{ str_limit(item.work_location_text_, 40, '...') }}</p>
            <div>
                <a class="badge" data-request="onSearchByCategory" data-request-data="id: {{ item.id }}">{{ item.job_category }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>