{% set list = __SELF__.list %}

<div class="row items">
    {% for item in list %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="item">
            <a href="{{ item.url }}"><h4 title="{{ item.position }}">{{ str_limit(item.position, 17, '...') }}</h4></a>
            <address>
                <div title="{{ item.work_location_text_ }}"><i class="fa fa-map-marker"></i> {{ str_limit(item.work_location_text_, 30, '...') }}</div>
                <div><i class="fa fa-clock-o"></i> {{ item.phase_date }}</div>
            </address>
            <h5>{{ item.minimum_salary_vnd_ }} - {{ item.maximum_salary_vnd_ }} {{ item.salary_rate }}</h5>
            <div>
                <a class="badge" data-request="onSearchByCategory" data-request-data="id: {{ item.id }}">{{ item.job_category }}</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>