<h4 class="h4 margin-top-32 text-primary">EDUCATION</h4>
<div class="experiences">
    {% for exp in user.experiences %}
    {% if exp.type == 'edu' %}
    <div class="experience">
        <div class="name">{{ exp.title }}</div>
        <div>
            <span class="position">{{ exp.type_of_work }}</span>
            <span class="date"><i class="fa fa-calendar"></i> {{ exp.from|join('-') }} until {{ exp.to|join('-') }}</span>
            <span class="address"><i class="fa fa-map-marker"></i> {{ exp.location }} </span>
        </div>
        <a href="javascript:void(0);" class="edit btn-exp-edit" edit-form="exp-edit-{{ exp.id }}">edit</a>
    </div>
    <div class="box-grey hide" id="exp-edit-{{ exp.id }}">
        <form data-request="onUpdateExp" data-request-flash="">
            <input type="hidden" name="id" value="{{ exp.id }}">
            <input type="hidden" name="type" value="{{ exp.type|default('exp') }}">
            <div class="row">
                <div class="col xs-12 col-sm-6 col-md-7 col-lg-7">
                    <div class="form-group">
                        <label class="control-label uppercase">TITLE / POSITION</label>
                        <input type="text" class="form-control" placeholder="First name" name="title" value="{{ exp.title }}" />
                    </div>
                </div>
                <div class="col xs-12 col-sm-6 col-md-5 col-lg-5">
                    <div class="form-group text-right">
                        <label class="control-label uppercase">&nbsp;</label>
                        <a href="javascript:void(0);" class="btn btn-cancel btn-lg">CANCEL</a>
                        <button href="#" class="btn btn-save btn-lg btn-primary">SAVE</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="control-label uppercase">TYPE OF WORK</label>
                        <select class="form-control" name="type_of_work">
                            <option value="Freelance">Freelance</option>
                        </select>
                    </div>
                </div>
                <div class="col xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="control-label uppercase">Location</label>
                        <input type="text" class="form-control" placeholder="Ho Chi Minh City" name="location" value="{{ exp.location}}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="control-label uppercase">Duration</label>

                        <select class="form-control" name="from[month]">
                            {% for j in range(1, 12) %}
                            <option value="{{ j }}" {% if j == from[0] %} selected {% endif %} >{{ date('2012-' ~ j ~ '-01') |date('M') }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="control-label uppercase">&nbsp;</label>
                        <input type="text" class="form-control" placeholder="Year" name="from[year]" value="{{ from[1] }}" />
                    </div>
                </div>
                <div class="col xs-12 col-sm-12 col-md-1 col-lg-1">
                    <div class="form-group">
                        <label class="control-label uppercase">&nbsp;</label>
                        <div class="form-control-label text-center">TO</div>
                    </div>
                </div>
                <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="control-label uppercase">&nbsp;</label>
                        <select class="form-control" name="to[month]">
                            {% for j in range(1, 12) %}
                            <option value="{{ j }}" {% if j == to[0] %} selected {% endif %} >{{ date('2012-' ~ j ~ '-01') |date('M') }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col xs-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label class="control-label uppercase">&nbsp;</label>
                        <input type="text" class="form-control" placeholder="Year" name="to[year]" value="{{ to[1] }}" />
                    </div>
                </div>
            </div>
            <div class="flex flex-end">
                <div class="form-group flex-1">
                    <label class="control-label uppercase">Description</label>
                    <textarea rows="2" class="form-control" name="description">{{ exp.description }}</textarea>
                </div>
                <a href="#" class="font-size-12 text-inherit margin-left-30 margin-bottom-16" data-request="onDeleteExp" data-request-data="id: {{ exp.id }}">
                    Delete this work experience?
                </a>
            </div>
        </form>
    </div>
    {% endif %}
    {% endfor %}
    <a href="javascript:void(0);" class="experience btn-edu add">
        <i class="fa fa-plus"></i> ADD NEW EXPERIENCES
    </a>
</div>
