

{% set posts = __SELF__.posts %}

{% for post in posts %}
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="work">
        <div class="work-image"><img src="{{ post.featured_images.first.getPath() }}" alt=""></div>
        <div class="work-content">
            <h4 class="work-title"><a href="{{ post.url }}" class="work-title">{{ post.title }}</a> </h4>
            <time class="work-date">{{ post.published_at|date('F d, Y') }}</time>
        </div>
    </div>
</div>
{% else %}
<li class="no-data">{{ noPostsMessage }}</li>
{% endfor %}