title = "About us"
url = "/about-us"
layout = "about"
description = "About us"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<section class="section-advisor grey-lighten-2">
    <div class="container">
        <div>
            <h3 class="h3 text-center uppercase text-primary">About Reeracoen Vietnam</h3>
            <p class="paragraph-lg">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                <br>
                commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                <br>
                Aenean massa.
            </p>
            <h3 class="h3 text-center uppercase margin-top-80 text-primary">About Reeracoen Group</h3>
            <p class="paragraph-lg">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                <br>
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                <br>
                quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
        </div>
        <div>
            <h3 class="h3 text-center uppercase margin-top-80 margin-bottom-24 text-primary bold">our recruitment advisor</h3>
            <div class="advisors">
                <div class="owl-carousel owl-theme" id="recruitment">
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 222.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Larry Erickson</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 1.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Harvey Ford</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 23.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Harvey Hunter</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 32.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Jonathan Ray</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>

                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 222.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Larry Erickson</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 1.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Harvey Ford</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 23.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Harvey Hunter</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 32.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Jonathan Ray</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                </div>
            </div>

            <h3 class="h3 text-center uppercase margin-top-80 margin-bottom-24 text-primary bold">our career advisor</h3>
            <div class="advisors">
                <div class="owl-carousel owl-theme" id="career">
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Larry Erickson</div>
                        <div class="advisor-career">Career Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Willie Grant</div>
                        <div class="advisor-career">Career Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 2.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Dale Hicks</div>
                        <div class="advisor-career">Career Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 3.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Willie Nash</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>

                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Larry Erickson</div>
                        <div class="advisor-career">Career Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Willie Grant</div>
                        <div class="advisor-career">Career Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 2.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Dale Hicks</div>
                        <div class="advisor-career">Career Advisor</div>
                    </div>
                    <div class="advisor item">
                        <div class="advisor-image"><img src="{{ 'assets/images/Rectangle 23 Copy 3.jpg'|theme }}" alt="" /></div>
                        <div class="advisor-name">Willie Nash</div>
                        <div class="advisor-career">Recruitment Advisor</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-95">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <h3 class="h3 uppercase margin-bottom-24 text-primary bold">contact us</h3>
                <div class="form-contact">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label uppercase">full name *</label>
                                <input type="text" class="form-control" placeholder="Your name" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label uppercase">Phone number</label>
                                <input type="text" class="form-control" placeholder="Your phone number" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label uppercase">Email address *</label>
                                <input type="text" class="form-control" placeholder="Your Email Address" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label uppercase">what would you like to ask us</label>
                                <textarea class="form-control" rows="3" placeholder="Ash your anything..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="#" class="btn btn-submit btn-primary">SEND</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h3 class="h3 uppercase margin-bottom-24 text-primary bold">address</h3>
                <p class="margin-top-3 bold-600 font-size-12"><i class="icon icon-location icon-sm margin-right-12"></i> 704 ZEN PLAZA, 56 Nguyen Trai St, Dist1, Ho Chi Minh City</p>
                <p class="margin-top-12 bold-600 font-size-12"><i class="icon icon-phone icon-sm margin-right-12"></i> +84-8-3925-2677</p>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.694004644317!2d106.67834261538341!3d10.758049492334003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1cc9aa0425%3A0x7025e6f6d0cc460d!2zNTYgTmd1eeG7hW4gVHLDo2ksIHBoxrDhu51uZyAzLCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2sin!4v1505120503609" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>