title = "Advance search"
url = "/advance-search/:title?/:category?/:location?"
layout = "grey2"
description = "Job advance search"

[jobsearch]
title = "{{ :title }}"
category = "{{ :category }}"
location = "{{ :location }}"

[bookmark]
==
<section class="light-grey-2">
    <div class="container">
    <div class="welcome">
        <div class="welcome-content">
            {% component 'jobsearch' %}     
        </div>
    </div>
       
    </div>
</section>
<section class="section-advance-search">
    <div class="layout-1">

        {% component 'jobsearch::result' %}
        <div class="layout-1-right">
            <div class="">
                <div class="subscribe">
                    <h4 class="h4">Email me similar job</h4>
                    <p>Create job alerts and receive emails with new jobs.</p>
                    <div class="input-icon">
                        <input type="text" placeholder="Enter email address.." class="form-control" />
                        <i class="icon icon-send"></i>
                    </div>
                </div>
                <div class="adv adv-1">
                    <div class="adv-image"></div>
                    <div class="adv-text">
                        <h4 class="h4 text-center text-white">HERE IS SPACE FOR AN AWESOME ADS OR CAMPAIGN</h4>
                        <a href="#" class="btn btn-block btn-lg btn-primary">Lorem ipsum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>