title = "Apply success"
url = "/apply-success"
layout = "grey2"
description = "Apply job success"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[applyjoblist]
==

<section class="post-apply">
    <div class="container container-936">
        <div class="content white">
            <h3 class="h3 text-center margin-top-8 text-primary">YOU HAVE SUCCESSFULLY APPLIED FOR THE JOB!</h3>
            <p class="text-center text-grey margin-top-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <div class="portlet">
                <h6 class="h6 text-center margin-top-48 bold">OTHER JOBS THAT YOU MIGHT BE INTERESTED IN:</h6>
                <div class="portlet-body">
                    <div class="job-list">

                        {% component 'applyjoblist::list-solo' %}

                    </div>
                    <h6 class="h6 bold text-center margin-top-52 pointer">GO BACK TO</h6>
                    <div class="btn-group text-center">
                        <a href="{{ 'home2'|page }}" class="btn btn-primary">home</a>
                        <a href="{{ 'account'|page }}" class="btn btn-primary">profile</a>
                        <a href="{{ 'job-applied'|page }}" class="btn btn-primary">job i applied</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>