title = "Blog"
url = "/blog/:page?"
layout = "grey2"
description = "The main blog page, with all posts."
hidden = "0"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = "10"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = "0"
categoryPage = "blog/category"
==
function getAllCategories() {
    $categories = \RainLab\Blog\Models\Category::where('is_active', 1);
    $this->page['categories'] = $categories;
}
==

<section class="section-blog-home-2">
    <div class="container">
        <div class="blog-banners">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="blog-banner">
                        <div>
                            <img src="{{ 'assets/images/Rectangle 9.jpg'|theme }}" alt="">
                            <h3 class="h3">Why Las Vegas Hotel Rooms For You</h3>
                            <time class="time">May 25, 2099</time>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="blog-banner">
                        <div>
                            <img src="{{ 'assets/images/Rectangle 9 Copy 2.jpg'|theme }}" alt="">
                            <h3 class="h3">Traveling To Barcelona</h3>
                            <time class="time">May 25, 2099</time>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="blog-banner">
                        <div>
                            <img src="{{ 'assets/images/Rectangle 9 Copy.jpg'|theme }}" alt="">
                            <h3 class="h3">Live Poker How To Win Tournament Games</h3>
                            <time class="time">May 25, 2099</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-container">
            <div class="blog-content">
                {% partial 'blog/posts' %}

                <div class="pagination">
                    <ul>
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="blog-sidebar">
                <div class="category white">
                    <h4 class="h4 uppercase bold">all category</h4>
                    <ul class="menu-category">
                        <li><a href="#">feature</a></li>
                        <li><a href="#">category 1</a></li>
                        <li><a href="#">category 2</a></li>
                        <li><a href="#">category 3</a></li>
                        <li><a href="#">category 4</a></li>
                    </ul>
                    <div style="height: 160px;"></div>
                    <h6 class="h6 bold-500 text-center margin-bottom-20">follow us</h6>
                    <div class="cate-social">
                        <a href="#"><i class="icon icon-facebook-24"></i></a>
                        <a href="#"><i class="icon icon-twitter-24"></i></a>
                        <a href="#"><i class="icon icon-google-24"></i></a>
                    </div>
                </div>
                <div class="adv adv-1">
                    <div class="adv-image"></div>
                    <div class="adv-text">
                        <h4 class="h4 text-center text-white">HERE IS SPACE FOR AN AWESOME ADS OR CAMPAIGN</h4>
                        <a href="#" class="btn btn-block btn-lg btn-primary">Lorem ipsum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>