title = "Job Category"
url = "/category/:id"
layout = "default"
description = "Job category"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
use TNT\Job\Models\Job;
use TNT\Job\Models\Jobcategory;

function onStart() {
    $id = $this->param('id');
    $category = Jobcategory::find($id);

    $this['category'] = $category;
    $this['list'] = $category->jobs()->get();
}
==

<section class="hot-location grey-lighten-2">
    <div class="container">

        <h3 class="h3 text-center open-opp">{{category.title}}</h3>
        <div class="row items">
            {% for item in list %}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="item">
                    <a href="{{ item.url }}"><h4 title="{{ item.position }}">{{ str_limit(item.position, 17, '...') }}</h4></a>
                    <address>
                        <div title="{{ item.work_location_text_ }}"><i class="fa fa-map-marker"></i> {{ str_limit(item.work_location_text_, 30, '...') }}</div>
                        <div><i class="fa fa-clock-o"></i> {{ item.phase_date }}</div>
                    </address>
                    <h5>{{ item.minimum_salary_vnd_ }} - {{ item.maximum_salary_vnd_ }} {{ item.salary_rate }}</h5>
                    <div>
                        <a class="badge">UI/UX</a>
                        <a class="badge">Engineering</a>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>