title = "For clients"
url = "/for-clients"
layout = "about"
==
<section class="section-service grey-lighten-2">
    <div class="container">
        <h3 class="h3 text-center uppercase text-primary bold">About Reeracoen’s Services</h3>
        <p class="paragraph-lg">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            <br> Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            <br> Aenean massa.
        </p>
        <div class="row services">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="service">
                    <h1 class="number">01</h1>
                    <h3 class="name">Finding job</h3>
                    <p class="des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="service">
                    <h1 class="number">02</h1>
                    <h3 class="name">offer a job to candidate</h3>
                    <p class="des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="service">
                    <h1 class="number">03</h1>
                    <h3 class="name">Free consulting</h3>
                    <p class="des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
            </div>
        </div>
        <h3 class="h3 margin-bottom-24 margin-top-80 text-center uppercase text-primary">Subscribe to our latest news</h3>
        <div class="row margin-bottom-104">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="input-icon">
                    <input type="text" placeholder="Enter email address.." class="form-control form-control-lg font-size-16" />
                    <i class="icon icon-send"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <h3 class="h3 uppercase margin-bottom-24 text-primary bold">contact us</h3>
                <div class="form-contact">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label uppercase">full name *</label>
                                <input type="text" class="form-control" placeholder="Your name" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label uppercase">Phone number</label>
                                <input type="text" class="form-control" placeholder="Your phone number" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label uppercase">Email address *</label>
                                <input type="text" class="form-control" placeholder="Your Email Address" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label uppercase">what would you like to ask us</label>
                                <textarea class="form-control" rows="3" placeholder="Ash your anything..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="#" class="btn btn-submit btn-primary font-size-12">SEND</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h3 class="h3 uppercase margin-bottom-24 text-primary bold">address</h3>
                <p class="margin-top-3 bold-600 font-size-12"><i class="fa fa-map-marker margin-right-12"></i> 704 ZEN PLAZA, 56 Nguyen Trai St, Dist1, Ho Chi Minh City</p>
                <p class="margin-top-12 bold-600 font-size-12"><i class="fa fa-phone margin-right-12"></i> +84-8-3925-2677</p>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.694004644317!2d106.67834261538341!3d10.758049492334003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1cc9aa0425%3A0x7025e6f6d0cc460d!2zNTYgTmd1eeG7hW4gVHLDo2ksIHBoxrDhu51uZyAzLCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2sin!4v1505120503609" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>