title = "HR Business Cloud"
url = "/"
layout = "landing"
description = "Welcome to the vanilla theme for OctoberCMS!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[jap] = "/hr-business-cloud"

[siteSearchInclude]

[job]
category = 1

[job opportunity]
category = 2

[jobsearch]

[blogPosts homeposts]
pageNumber = "{{ :page }}"
categoryFilter = 'work-japan'
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<section class="section-homepage grey-lighten-2">
    <div class="container">

        <h3 class="h3 text-center text-primary open-opp">OPEN OPPOTUNITIES</h3>
        {% component 'opportunity::grid' %}

        <h3 class="h3 text-center text-primary">HOT LOCATION</h3>
        <div class="tab">
            <div class="tab__header">
                <a href="javascript:void(0);" class="tab-link active" data-tab="tab_vietnam">VIET NAM</a>
                <a href="javascript:void(0);" class="tab-link" data-tab="tab_hanoi">HA NOI</a>
                <a href="javascript:void(0);" class="tab-link" data-tab="tab_haiphong">HAI PHONG</a>
                <a href="javascript:void(0);" class="tab-link" data-tab="tab_danang">DA NANG</a>
                <a href="javascript:void(0);" class="tab-link" data-tab="tab_hochiminh">HO CHI MINH</a>
                <a href="javascript:void(0);" class="tab-link" data-tab="tab_binhduong">BINH DUONG</a>
            </div>
            <div class="tab__body">
                <div class="tab-content active" id="tab_vietnam">
                    <h4 class="h4 uppercase">search by job category</h4>
                    <ul class="list-job-category">
                        <li>Software Development</li>
                        <li>System Engineer</li>
                        <li>Creative</li>
                        <li>Network Support </li>
                        <li>Research </li>
                        <li>Product Development</li>
                        <li>Evaluation System</li>
                        <li>Consultant</li>
                        <li>Pharmacist</li>
                        <li>Other Professional</li>
                        <li>System Administrative</li>
                        <li>Marketing </li>
                        <li>Presales</li>
                        <li>System</li>
                        <li>Game Related</li>
                        <li>Manufacturing Engineer</li>
                        <li>Finance</li>
                        <li>Insurance</li>
                        <li>Securities Construction</li>
                        <li>Civil Engineering</li>
                        <li>Real Estate</li>
                        <li>Sales </li>
                        <li>Software Development</li>
                        <li>System Engineer</li>
                        <li>Creative</li>
                        <li>Network Support </li>
                        <li>Research </li>
                        <li>Product Development</li>
                        <li>Evaluation System</li>
                        <li>Consultant</li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4"></div>
                        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4">
                            <div class="form-group input-icon margin-top-40">
                                <input type="text" class="form-control" placeholder="Search here.." />
                                <i class="icon icon-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="tab_hanoi"></div>
                <div class="tab-content" id="tab_danang"></div>
                <div class="tab-content" id="tab_hochiminh"></div>
                <div class="tab-content" id="tab_binhduong"></div>
            </div>
        </div>

        <h3 class="caption-work h3 text-center text-primary uppercase bold">Work in Japan!</h3>
        <div class="row">
            {% component 'homeposts' %}
        </div>
    </div>
</section>