title = "Job detail"
url = "/job/:id"
layout = "grey2"
description = "Welcome to the vanilla theme for OctoberCMS!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[jobdetail]
jobId = "{{ :id }}"

[relatedjob]

[bookmark]
jobId = "{{ :id }}"

[applyjob]
jobId = "{{ :id }}"
==
<section class="section-individual-detail">
    <div class="layout-2">
        <div class="layout-2-main">
            {% component 'jobdetail' %}
        </div>
        <div class="layout-2-right">
            <div class="subscribe">
                <h4 class="h4">Email me similar job</h4>
                <p>Create job alerts and receive emails with new jobs.</p>
                <div class="input-icon">
                    <input type="text" placeholder="Enter email address.." class="form-control" />
                    <i class="fa fa-paper-plane"></i>
                </div>
            </div>
            <div class="adv">
                <div class="adv-image"><img src="{{ 'assets/images/card.png'|theme }}" alt=""></div>
                <div class="adv-text">
                    <h4 class="h4 text-center">HERE IS SPACE FOR AN AWESOME ADS OR CAMPAIGN</h4>
                    <a href="#" class="btn btn-block btn-lg">Lorem ipsum</a>
                </div>
            </div>
        </div>
    </div>
</section>

