title = "Job List"
url = "/jobs"
layout = "default"
description = "Job list"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[job]
==

<section class="hot-location grey-lighten-2">
    <div class="container">

        <h3 class="h3 text-center open-opp">JOBS LIST</h3>
        {% component 'job::list-grid' %}

    </div>
</section>