title = "Profile"
url = "/profile/:code"
layout = "default"
description = "Edit your profile"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ueuser]
type = "profile"
maxItems = 5
paramCode = "user"
profilePage = "profile"
template = "social"

[Tnt\Job\Components\Accountextend account]
paramCode = "code"
==
<div class="row">
    <h1>Profile</h1>
</div>
{% partial 'account::update' %}

<div class="row">
    <div class="col-md-6">
        {% component 'ueuser' %}
    </div>

</div>