<div data-control="toolbar">

    <button class="btn btn-primary"
            data-request="onConnect"
            data-attach-loading
            data-request-flash>
        Connect API
    </button>

    <button class="btn btn-primary" data-request="onGetPartition">
        Get partition
    </button>
</div>
