{% if user %}

<div class="message-box">You are already logged in.</div>

{% else %}
<section class="section-sign-in">
	<div class="container container-936">
		<div class="content white">
			<h3 class="h3 text-center text-primary" style="letter-spacing: 1px;">Welcome Back!</h3>
			<p class="text-center text-grey margin-top-4" style="font-weight: 500;">
				Don’t have an account yet? <a href="#" class="text-primary">Register</a>
			</p>
			<h6 class="h6 text-center margin-top-32 margin-bottom-16">LOGIN WITH</h6>
			<div class="social-list">
				<a href="#" class="social"><i class="icon icon-facebook"></i></a>
				<a href="#" class="social"><i class="icon icon-linkedin"></i></a>
				<a href="#" class="social"><i class="icon icon-google"></i></a>
			</div>
			<h6 class="h6 text-center margin-top-32 margin-bottom-16">OR</h6>
			<form class="form-sign-in"
				  data-request-validate
				  data-request-flash
				  data-request="onLogin"
				  id="signupForm">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label class="control-label uppercase">Email address</label>
							<input class="form-control" name="{{account.signUp}}"
								   type='{% if account.signUp == "email" %}email{% else %}text{% endif %}'
								   id="register{{account.signUp}}"
								   value = ""
								   placeholder="Enter your {{account.signUp}}" >
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label class="control-label uppercase">Password</label>
							<input name="password"
								   type="password"
								   class="form-control"
								   id="userSigninPassword"
								   value = "";
								   placeholder="Enter your password" >
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label class="checkbox-icon">
							<input type="checkbox"/>
							<span></span>
							<span>Remember password</span>
						</label>
					</div>
				</div>
				<div class="text-center margin-bottom-8 margin-top-32">
					<button type="submit" class="btn submit btn-primary" data-attach-loading id="submitButton" role="button">SIGN IN</button>
				</div>
			</form>
		</div>
	</div>
</section>

{% endif %}
