{% if user %}

<div class="message-box">You cannot register for an account while logged in.</div>

{% else %}
<section class="section-sign-up">
    <div class="container container-936">
        <div class="content white">
            <h3 class="h3 text-center text-primary" style="letter-spacing: 1px;">FIND YOUR NEXT DREAM JOB!</h3>
            <p class="text-center text-grey margin-top-4" style="font-weight: 500;">
                Already have an account? <a href="#" class="text-primary">Login</a>
            </p>
            <h6 class="h6 text-center margin-top-32 margin-bottom-16">SIGN UP WITH</h6>
            <div class="social-list">
                <a href="#" class="social"><i class="icon icon-facebook"></i></a>
                <a href="#" class="social"><i class="icon icon-linkedin"></i></a>
                <a href="#" class="social"><i class="icon icon-google"></i></a>
            </div>
            <h6 class="h6 text-center margin-top-32 margin-bottom-16">OR</h6>
            <form class="form-sign-up"
                  data-request-validate
                  data-request="onRegister"
                  id ="signupForm">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label uppercase">First name</label>
                            <input
                                    name="first_name"
                                    type="text"
                                    class="form-control"
                                    id="registerFirstName"
                                    required="{{attributes.options.validation}}"
                                    placeholder='{{ "clake.userextended::lang.components.account.enterfname"|trans }}'>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label uppercase">Last name</label>
                            <input
                                    name="last_name"
                                    type="text"
                                    class="form-control"
                                    id="registerLastName"
                                    required="{{attributes.options.validation}}"
                                    placeholder='{{ "clake.userextended::lang.components.account.enterlname"|trans }}' >
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label uppercase">Email address</label>
                            <input
                                    name="{{account.signUp}}"
                                    type='{% if account.signUp == "email" %}email{% else %}text{% endif %}'
                                    class="form-control"
                                    id="register{{account.signUp}}"
                                    required="{{attributes.options.validation}}"
                                    placeholder="Enter your {{account.signUp}}">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label uppercase">Password</label>
                            <input
                                    name="password"
                                    type="password"
                                    class="form-control"
                                    id="registerPassword"
                                    required="{{attributes.options.validation}}"
                                    placeholder='{{ "clake.userextended::lang.components.account.enterpassword"|trans }}'>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label uppercase">Confirm Password</label>
                            <input
                                    name="password_confirmation"
                                    type="password"
                                    class="form-control"
                                    id="registerConfirmPassword"
                                    required="{{attributes.options.validation}}"
                                    placeholder='{{ "clake.userextended::lang.components.account.confirmpassword"|trans }}'>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="checkbox-icon">
                            <input type="checkbox"/>
                            <span></span>
                            <span>I want to receive exciting newsletters from REERACOEN</span>
                        </label>
                    </div>
                </div>
                <p class="margin-top-32 margin-bottom-16 font-size-12 text-center">
                    By clicking on “Sign up“, I have read and accept <br>
                    <b>Privacy Policy</b> and <b>Terms of Use</b>
                </p>
                <div class="text-center margin-bottom-8">
                    <button type="submit" class="btn submit btn-primary" role="button">SIGN UP</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endif %}
