<div class="alert alert-lg">
	<h3 class="h3 text-primary">Please complete your profile to apply for jobs!</h3>
	<a href="#" class="alert-remove">&#10006;</a>
</div>
<div class="profile-contact white">
	<h4 class="h4 text-primary">Personal Information</h4>
	{{ form_open({ request: 'onUpdate', id: 'main_update_form', model: user, 'data-request-validate': '', 'data-request-flash': '' }) }}
	{% set attributes = {} %}
	{% for s,a in account.updateSettings %}

	{% set attributes = attributes | merge({(s): (a)}) %}

	{% endfor %}

	<input type="hidden" class="form-control" placeholder="Email" name="email"
		   value="{{ form_value('email') }}" />
	<input
			name="password"
			type="hidden"
			value="{{ user.password }}"
			class="form-control">
	<input
			name="password_confirmation"
			value="{{ user.password }}"
			type="hidden"
			class="form-control">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
			<div class="form-group">
				<label class="control-label uppercase">full name *</label>
				<input type="text" class="form-control" placeholder="First name" name="name" value="{{ form_value('name') }}" />
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
			<div class="form-group">
				<label class="control-label uppercase">&nbsp;</label>
				<input type="text" class="form-control" placeholder="Last name" name="lastname" value="{{ attributes.lastname[0] }}" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
			<div class="form-group">
				<label class="control-label uppercase">Birthday *</label>
				<input type="text" class="form-control" placeholder="Day" name="dobday" value="{{ attributes.dobday[0] }}" required />
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
			<div class="form-group">
				<label class="control-label uppercase">&nbsp;</label>
				<select class="form-control" name="dobmonth" required>
					{% for j in range(1, 12) %}
					<option value="{{ j }}" {% if j == attributes.dobmonth[0] %} selected {% endif %} >{{ date('2012-' ~ j ~ '-01') |date('M') }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
			<div class="form-group">
				<label class="control-label uppercase">&nbsp;</label>
				<input type="text" class="form-control" placeholder="Year"  name="dobyear" value="{{ attributes.dobyear[0] }}" required />
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">&nbsp;</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div class="form-group">
				{% set genders = [{label: 'Male', value: 'male'}, {'label': 'Female', value: 'female'}]%}
				<label class="control-label uppercase">Gender</label>
				<select class="form-control" name=gender>
					{% for _gender in genders %}
					<option value="{{_gender.value}}" {% if _gender.value == attributes.gender[0] %} selected {% endif %}>{{_gender.label}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="row margin-top-8">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
			<div class="form-group">
				<label class="control-label uppercase">Japanese Level</label>
				{% set japaneselevels = [{value: 'Intermediate', label: 'Intermediate'}, {value: 'Low Intermediate', label: 'Low Intermediate'}] %}
				<select class="form-control" name=japaneselevel>
					{% for item in japaneselevels %}
					<option value="{{item.value}}" {% if item.value == attributes.japaneselevel[0] %} selected {% endif %}>{{item.label}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">&nbsp;</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
			<div class="form-group">
				<label class="control-label uppercase">English Level</label>
				{% set englishlevels = [{value: 'Intermediate', label: 'Intermediate'}, {value: 'Low Intermediate', label: 'Low Intermediate'}] %}
				<select class="form-control" name=englishlevel>
					{% for item in englishlevels %}
					<option value="{{item.value}}" {% if item.value == attributes.englishlevel[0] %} selected {% endif %}>{{item.label}}</option>
					{% endfor %}
				</select>
			</div>

		</div>
	</div>
	<div class="row margin-top-8">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-group">
				<label class="control-label uppercase">Description</label>
				<textarea class="form-control" rows="5" placeholder="Specify briefly your profile and career objectives" name="description">{{ attributes.description[0] }}</textarea>
			</div>
		</div>
	</div>
	<div class="margin-top-16 text-right">
		<a href="#" class="btn btn-cancel btn-lg">CANCEL</a>
		<button class="btn btn-save btn-lg btn-primary" data-attach-loading="">SAVE</button>
	</div>

	{{ form_close() }}

	{% component 'experience' %}

	{% component 'experience::form' %}

	{% component 'experience::edu' %}
	{% component 'experience::form1' %}

	<h4 class="h4 margin-top-32 text-primary">WORKING PREFERENCES</h4>
	<div class="box">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="form-group">
					<label class="control-label uppercase">Preferred Working Location</label>
					<div class="form-control-static">Ho Chi Minh City</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="form-group">
					<label class="control-label uppercase">Job Category</label>
					<div class="form-control-static">Graphic Design, UI/UX, Web Design</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="form-group">
					<label class="control-label uppercase">Expected Salary (USD per month)</label>
					<div class="form-control-static">$899</div>
				</div>
			</div>
		</div>
	</div>

</div>