{% set list = __SELF__.list %}
{% for item in list %}
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{ item.url }}">
                    {{ item.id }} {{ item.position }}
                </a>

            </h3>
        </div>
        <div class="panel-body">
            <p>{{ item.job_summary }}</p>

            <p>Age Min: {{ item.age_min_ }}</p>
            <p>Age Max: {{ item.age_max_ }}</p>
            <p>Work Location: {{ item.work_location }}</p>
            <p>Salary rate: {{ item.salary_rate }}</p>


        </div>
    </div>
</div>
{% endfor %}
