{% set job = __SELF__.job %}
<div class="col-lg-12">
    <h1>Related jobs</h1>
</div>
{% for relatedJob in job.related %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h3>{{ relatedJob.name }}</h3>
            <p>{{ relatedJob.business_summary }}</p>
            <p><a href="{{ relatedJob.id }}" class="btn btn-primary" role="button">View more</a></p>
        </div>
    </div>
</div>
{% endfor %}