<div class="about">
    <div class="about-content">
        <h1 class="h1 text-center text-white">About REERACOEN</h1>
        <p class="font-size-18 margin-top-16 text-center text-white">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            <br> ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer
            <br> adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </p>
    </div>
</div>