<h5>HOT LOCATION</h5>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Reeracoen Indonesia</p>
        <p>Reeracoen Singapore</p>
        <p>Reeracoen Philippines</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Reeracoen Indonesia</p>
        <p>Reeracoen Singapore</p>
        <p>Reeracoen Philippines</p>
    </div>
</div>