{% set category = __SELF__.category %}
<div class="card">
    <div class="card-image">
        <img src="{{ 'assets/images/card.png'|theme }}" />
    </div>
    <div class="card-info">
        <h4 class="card-title">{{category.title}}</h4>
        <p class="card-desc">Popular categories</p>
        <div>
            <a class="badge">UI/UX</a>
            <a class="badge">Graphic Designer</a>
            <a class="badge">UI/UX</a>
        </div>
    </div>
    <div class="card-action"><a href="{{ category.getDetailUrl() }}">EXPLORE OPPOTUNITIES</a> </div>
</div>