<div class="row">
    <div class="col-lg-6">
        <?= Form::open(['request' => 'onConnect']) ?>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                Connect API
            </button>
        </div>
        <?= Form::close() ?>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <?= Form::open(['request' => 'onGetPartition']) ?>
        <button class="btn btn-primary" type="submit">
            Get partition
        </button>
        <?= Form::close() ?>
    </div>
</div>
<?= $this->listRender() ?>