<form class="form-search" data-request="onSearch">
    <div class="form-row">
        <label>job title</label>
        <input type="text" placeholder="Enter job title, position, skills..." name="title" value="{{ title }}" />
    </div>
    <div class="form-row">
        <label>Category</label>
        <input type="text" placeholder="Search for a category..." name="category"  value="{{ category }}" />
    </div>
    <div class="form-row">
        <label>Location</label>
        <input type="text" placeholder="Search for a location..." name="location" value="{{ location }}" />
    </div>
    <button class="form-button btn">
        SEARCH
    </button>
</form>