<form class="form-find" data-request="onSearchRedirect">
    <div class="form-input">
        <input type="text" placeholder="Graphic designer" name="title" value="{{ title }}">
        <i class="icon icon-search"></i>
    </div>
    <div class="form-select">
        <!-- <input type="text" placeholder="Category.."/> -->
        <select name="category">
            <option value="">Category</option>
            {% for cat in category_list %}
                <option value="{{ cat.id }}" {% if cat.id == jobcategory %} selected {% endif %} >{{ cat.name }}</option>
            {% endfor %}
        </select>
        <i class="icon icon-category"></i>
        <i class="icon icon-dropdown-indicator icon-right"></i>
    </div>
    <div class="form-select">
        <!-- <input type="text" placeholder="Location.."> -->
        <select name="location">
            <option value="">Location</option>
            {% for cat in location_list %}
            <option value="{{ cat.id }}" {% if cat.id == joblocation %} selected {% endif %}>{{ cat.name }}</option>
            {% endfor %}
        </select>
        <i class="icon icon-location"></i>
        <i class="icon icon-dropdown-indicator icon-right"></i>
    </div>
    <button class="find">Search</button>
</form>