{% set result = __SELF__.result %}
<div class="layout-1-left white">
    <div class="padding-16">
        <h4 class="h4 text-primary">FILTER JOBS</h4>
        <form class="form-filter-jobs">
            <div class="form-group">
                <div class="input-icon">
                    {% set salary_range = [[0,6000000],[6000000,8000000], [8000000,9000000]] %}
                    <select class="form-control" name="filter_salary" data-request="onAddFilter">
                        <option value="">Salary</option>
                        {% for item in salary_range %}
                        {% set salaryKey = item|join('-') %}
                        <option value="{{ salaryKey }}" {% if salaryKey == filter_salary %} selected {% endif %} >
                            {{ item[0]|number_format(0, '.', ',') }} - {{ item[1]|number_format(0, '.', ',') }}
                        </option>
                        {% endfor %}
                    </select>
                    <i class="icon icon-dropdown-indicator"></i>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Job Categories</label>
                <div class="input-icon">
                    <input type="text" placeholder="Search here..." class="form-control" />
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </form>
        <ul class="checkbox-list" id="filter-job">
            {% for index,item in category_list %}
            <li {% if index > 2 %} class="more" style="display:none;" {% endif %}>
                <label class="checkbox">
                    <input
                            type="checkbox"
                            value="{{ item.id }}"
                            data-request="onAddFilter"
                            {% if item.id in filter_category %} checked {% endif %}
                            name="filter_category[]" />
                    <span></span>
                    <span>{{ item.name }}</span>
                </label>
            </li>
            {% endfor %}

        </ul>
        <a href="javascript:void(0)" id="see-more-job" class="see-more">See more</a>
        <h6 class="h6">Location</h6>
        <ul class="checkbox-list" id="filter-location">
            {% for index,item in location_list %}
            <li {% if index > 2 %} class="more" style="display:none;" {% endif %}>
                <label class="checkbox">
                    <input
                            type="checkbox"
                            value="{{ item.id }}"
                            data-request="onAddFilter"
                            {% if item.id in filter_location %} checked {% endif %}
                            name="filter_location[]" />
                    <span></span>
                    <span>{{ item.name }}</span>
                </label>
            </li>
            {% endfor %}
        </ul>
        <a href="javascript:void(0)" class="see-more" id="see-more-location">See more</a>
        <h6 class="h6">Language</h6>
        <ul class="checkbox-list">
            {% for item in nation_list %}
            <li>
                <label class="checkbox">
                    <input
                            type="checkbox"
                            value="{{ item.id }}"
                            data-request="onAddFilter"
                            {% if item.id in filter_nation %} checked {% endif %}
                            name="filter_nation[]" />
                    <span></span>
                    <span>{{ item.name }}</span>
                </label>
            </li>
            {% endfor %}
        </ul>
        <a href="#" class="see-more">See more</a>
        <h6 class="h6">Nationality</h6>
        <ul class="checkbox-list">
            {% for item in nation_list %}
            <li>
                <label class="checkbox">
                    <input
                            type="checkbox"
                            value="{{ item.id }}"
                            data-request="onAddFilter"
                            {% if item.id in filter_nation %} checked {% endif %}
                            name="filter_nation[]" />
                    <span></span>
                    <span>{{ item.name }}</span>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="layout-1-main white" id="searchResult">
    <div class="portlet">
        <div class="portlet-header">
            <h4 class="h4 uppercase portlet-title text-primary">{{total}} jobs matching query</h4>
            <div class="portlet-action">
                Sort by:
                <a {% if active_sort == 'registration_date' %} class="active" {% endif %} data-request="onSort" data-request-data="orderBy: 'registration_date'">DATE</a>  |
                <a {% if active_sort == 'name' %} class="active" {% endif %} data-request="onSort" data-request-data="orderBy: 'name'">RELEVANCE</a>  |
                <a {% if active_sort == 'min_salary' %} class="active" {% endif %} data-request="onSort" data-request-data="orderBy: 'min_salary'">SALARY</a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="job-list">
                {% for item in result %}
                {% set prepareField = {} %}
                {% for field in item.fields_pivot_model %}
                {% set prepareField = prepareField | merge({(field.code): (field.pivot.value)}) %}
                {% endfor %}
                <div class="job">
                    <div class="job-col">
                        <h4 class="job-title h4"><a class="job-title" href="{{ item.getDetailUrl() }}">{{ prepareField.position }}</a>  <a class="badge badge-primary">Featured</a></h4>
                        <time class="job-time">Posted: {{item.registration_date|date('d/m/Y')}}</time>
                        <div>
                            <a href="#" class="badge">{{ prepareField.job_category }}</a>
                        </div>
                    </div>
                    <div class="job-col">
                        <address class="job-address"><i class="icon icon-location"></i> {{ prepareField.work_location }}</address>
                        <h6 class="job-price">{{ prepareField.minimum_salary_vnd_|number_format(0, '.', ',') }} - {{ prepareField.maximum_salary_vnd_|number_format(0, '.', ',')}} {{prepareField.salary_rate}}</h6>
                    </div>
                    <div class="job-col">
                        <a href="#" class="" data-request="onBookmark" data-request-data="jobId: {{ item.id}}, isBookmarked: {% if item.isBookmarked() %} 1 {% else %} 0 {% endif %}">
                            <i class="icon {{ item.isBookmarked() ? 'icon-star-active' : 'icon-star' }}"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {{ result.render|raw }}
            </div>
        </div>
    </div>
</div>