@charset "UTF-8";
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/v3/01M8UnHoM7MaVdT1TD1pbiEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/v3/MEXWGbc1EWORtBwy9fFeUiEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/v3/D2gN9uyZ9Ucx1fJ1Fhb7s_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/v3/gG8m82oGcrBJF727xHU04fY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/v3/F4YWuALHubF63LLQPw0rMfY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/v3/HLBysyo0MQBO_7E-DWLwzg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/v3/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/v3/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/v3/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/v3/BAM-XigHGVWzifDv8-EC1SEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/v3/9VWMTeb5jtXkNoTv949NpSEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/v3/zO07Oxe3SOlw0l2YX2sdIfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/v3/Aul8cxPpbm96Ali7smyVfCEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/v3/aDjpMND83pDErGXlVEr-SSEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/v3/57TQ-anwthzkETEIO4jESPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Thats all. I hope you enjoyed it.
Thanks :)*/
/***************************************************************/
/*************** Footer Bar Style ******************************/
/***************************************************************/
.footer-bar {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #111;
  border-top: 1px solid #E62600;
  position: fixed;
  bottom: 0;
  left: 0; }

.footer-bar .article-wrapper {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #888;
  float: left;
  margin-left: 10%; }

.footer-bar .article-link a, .footer-bar .article-link a:visited {
  text-decoration: none;
  color: #fff; }

.site-link a, .site-link a:visited {
  color: #888;
  font-size: 14px;
  font-family: arial, sans-serif;
  float: right;
  margin-right: 10%;
  text-decoration: none; }

.site-link a:hover {
  color: #E62600; }

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.icon.icon-menu {
  background-image: url("../images/icons/icon-menu.png"); }

.icon.icon-search-black {
  background-image: url("../images/icons/icon-search-black.png"); }

.icon.icon-mail {
  background-image: url("../images/icons/icon-mail.png"); }

.icon.icon-mail-fill-white {
  background-image: url("../images/icons/icon-mail-fill-white.png"); }

.icon.icon-scroll-down-white {
  background-image: url("../images/icons/icon-scroll-down-white.png"); }

.icon.icon-hand-right-white {
  background-image: url("../images/icons/icon-hand-right-white.png"); }

.icon.icon-easy {
  background-image: url("../images/icons/icon-easy.png"); }

.icon.icon-setting {
  background-image: url("../images/icons/icon-setting.png"); }

.icon.icon-sort-down {
  background-image: url("../images/icons/icon-sort-down.png"); }

.icon.icon-sort-down-black {
  background-image: url("../images/icons/icon-sort-down-black.png"); }

.icon.icon-phone {
  background-image: url("../images/icons/icon-phone.png"); }

.icon.icon-phone-fill-white {
  background-image: url("../images/icons/icon-phone-fill-white.png"); }

.icon.icon-user {
  background-image: url("../images/icons/icon-user.png"); }

.icon.icon-password {
  background-image: url("../images/icons/icon-password.png"); }

.icon.icon-balance {
  background-image: url("../images/icons/icon-balance.png"); }

.icon.icon-betlist {
  background-image: url("../images/icons/icon-betlist.png"); }

.icon.icon-statement {
  background-image: url("../images/icons/icon-statement.png"); }

.icon.icon-result {
  background-image: url("../images/icons/icon-result.png"); }

.icon.icon-wifi {
  background-image: url("../images/icons/icon-wifi.png"); }

.icon.icon-support {
  background-image: url("../images/icons/icon-support.png"); }

.icon.icon-manager {
  background-image: url("../images/icons/icon-manager.png"); }

.icon.icon-report {
  background-image: url("../images/icons/icon-report.png"); }

.icon.icon-inventory {
  background-image: url("../images/icons/icon-inventory.png"); }

.icon.icon-facebook {
  background-image: url("../images/icons/icon-facebook.png"); }

.icon.icon-instagram {
  background-image: url("../images/icons/icon-instagram.png"); }

.icon.icon-youtube {
  background-image: url("../images/icons/icon-youtube.png"); }

.divider {
  height: 2px;
  border-bottom: solid 2px #dedede;
  margin: 32px auto 40px; }

hr.style1 {
  border-top: 1px solid #ccc; }

hr.style2 {
  border-top: 3px double #8c8b8b; }

hr.style3 {
  border-top: 1px dashed #8c8b8b; }

hr.style4 {
  border-top: 1px dotted #8c8b8b; }

hr.style5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b; }

hr.style6 {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b; }

hr.style7 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; }

hr.style8 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; }

hr.style8:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; }

hr.style9 {
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff; }

hr.style10 {
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff; }

hr.style11 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0; }

hr.style12 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0; }

hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset; }

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); }

hr.style15 {
  border-top: 4px double #8c8b8b;
  text-align: center; }

hr.style15:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px; }

hr.style16 {
  border-top: 1px dashed #8c8b8b; }

hr.style16:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px; }

hr.style17 {
  border-top: 1px solid #8c8b8b;
  text-align: center; }

hr.style17:after {
  content: '┬º';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg); }

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px; }

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  -webkit-font-smoothing: antialiased;
  display: block;
  width: 100%; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600; }

.h1, .h2, .h3 {
  letter-spacing: 1px; }

.h1 {
  font-size: 40px;
  line-height: 66px;
  margin: 0; }

.h2 {
  font-size: 32px; }

.h3 {
  font-size: 24px;
  line-height: 38px; }

.h4 {
  font-size: 16px;
  line-height: 26px; }

.h5 {
  font-size: 14px;
  line-height: 23px; }

.h6 {
  font-size: 12px;
  line-height: 19px; }

.checkbox {
  display: inline-block;
  cursor: pointer;
  font-size: 12px; }
  .checkbox input[type="checkbox"] {
    display: none; }
    .checkbox input[type="checkbox"] + span {
      display: inherit;
      width: 18px;
      height: 18px;
      line-height: 14px;
      text-align: center;
      background-color: #fff;
      border: 2px solid #444; }
      .checkbox input[type="checkbox"] + span:after {
        content: "\2714";
        opacity: 0;
        transition: all 0.3s; }
      .checkbox input[type="checkbox"] + span + span {
        transition: all 0.3s;
        margin-left: 4px;
        margin-right: 4px;
        line-height: 19px;
        font-weight: 300; }
    .checkbox input[type="checkbox"]:checked + span {
      background-color: #444;
      border-color: #444;
      color: white; }
      .checkbox input[type="checkbox"]:checked + span:after {
        opacity: 1; }
      .checkbox input[type="checkbox"]:checked + span + span {
        color: #444;
        font-weight: 500; }

ul.checkbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.checkbox-list li {
    display: block;
    margin-bottom: 11px; }
    ul.checkbox-list li:last-child {
      margin-bottom: 0; }

.checkbox-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 12px; }
  .checkbox-icon input[type="checkbox"] {
    display: none; }
    .checkbox-icon input[type="checkbox"] + span {
      display: inherit;
      width: 18px;
      height: 18px;
      line-height: 14px;
      text-align: center;
      background-color: #fff;
      border: 2px solid #4a4a4a; }
      .checkbox-icon input[type="checkbox"] + span:after {
        content: "\2714";
        opacity: 0;
        transition: all 0.3s;
        font-weight: bold; }
      .checkbox-icon input[type="checkbox"] + span + span {
        transition: all 0.3s;
        margin-left: 4px;
        margin-right: 4px;
        line-height: 19px;
        font-weight: 300; }
    .checkbox-icon input[type="checkbox"]:checked + span {
      color: #4a4a4a; }
      .checkbox-icon input[type="checkbox"]:checked + span:after {
        opacity: 1; }
      .checkbox-icon input[type="checkbox"]:checked + span + span {
        color: #4a4a4a; }

.switch {
  position: relative;
  display: inline-block;
  width: 33.3px;
  height: 20.65px;
  line-height: 20.65px;
  margin-bottom: 4px; }
  .switch .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    cursor: pointer;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s; }
    .switch .slider:before {
      content: "";
      position: absolute;
      left: 4px;
      bottom: 4px;
      width: 12.65px;
      height: 12.65px;
      background-color: white;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s; }
    .switch .slider + span {
      padding-left: 37.3px; }
  .switch .slider.round {
    border-radius: 20.65px; }
    .switch .slider.round:before {
      border-radius: 50%; }
  .switch input {
    display: none; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #838383; }
    .switch input:checked + .slider {
      background-color: #838383; }
      .switch input:checked + .slider:before {
        -webkit-transform: translateX(19.3px);
        -moz-transform: translateX(19.3px);
        transform: translateX(19.3px); }
      .switch input:checked + .slider + span {
        color: #838383; }

.btn {
  display: inline-block;
  height: 41.6px;
  line-height: 41.6px;
  text-align: center;
  padding: 0 20px;
  background-color: #8f8f8f;
  border: solid 1px #dfdfdf;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }

.btn.btn-primary {
  background-color: #007ecf;
  color: white; }
  .btn.btn-primary:hover {
    background-color: #005f9c; }

.btn.btn-lg {
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px; }

.btn.btn-lg-54 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  height: 54px;
  line-height: 54px;
  background-color: #8a8a8a;
  border: solid 1px #e1e1e1; }

.btn.btn-block {
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase; }

.btn.btn-save {
  width: 136px;
  background-color: #757575;
  letter-spacing: 2px; }

.btn.btn-cancel {
  width: 136px;
  border-color: transparent;
  background-color: transparent;
  color: #4a4a4a;
  letter-spacing: 2px; }

.go-top {
  position: fixed;
  bottom: 80px;
  right: 10px;
  background: red url("../images/top2.png") center center/cover no-repeat;
  height: 60px;
  width: 60px;
  background-color: #141414;
  opacity: 0;
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
  z-index: 5;
  -webkit-background-size: cover;
  background-size: cover; }
  .go-top:hover {
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5); }

.go-top-show {
  opacity: 1; }

.form-group {
  margin-bottom: 16px;
  position: relative; }

.control-label {
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 8px;
  display: block; }

.form-control {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-radius: 2px;
  padding: 0 16px;
  border: solid 1px #dfdfdf;
  background-color: #fff;
  color: #4a4a4a;
  display: block; }
  .form-control:focus {
    outline: none;
    border-color: #4a4a4a; }

.form-control-static {
  line-height: 23px;
  font-size: 14px;
  font-weight: 300;
  position: relative; }
  .form-control-static i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center; }

.form-control-label {
  font-size: 12px;
  height: 48px;
  line-height: 48px;
  font-weight: 600; }

textarea.form-control {
  height: auto;
  line-height: auto;
  font-family: 'Poppins', sans-serif; }

input[type="password"].form-control {
  letter-spacing: 4px; }

.input-icon {
  position: relative; }
  .input-icon input {
    padding-right: 35px; }
  .input-icon i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16.5px;
    margin: auto;
    width: 17.5px;
    height: 17.5px;
    text-align: right;
    color: #444;
    font-size: 14px; }

.form-search {
  width: 936px;
  height: 96px;
  background-color: white;
  border: solid 1px #9b9b9b;
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 40px auto; }
  .form-search .form-row {
    flex: 1;
    height: 56px;
    margin-left: 23px;
    border-right: 1px solid #9b9b9b; }
    .form-search .form-row label {
      height: 19px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase; }
    .form-search .form-row input {
      width: 100%;
      height: 26px;
      display: block;
      font-size: 16px;
      font-weight: 300;
      margin-top: 4px;
      border: none;
      padding-right: 23px;
      background-color: transparent; }
      .form-search .form-row input:focus {
        outline: none; }
  .form-search .form-button {
    width: 80px;
    height: 56px;
    line-height: 56px;
    display: block;
    text-align: center;
    background-color: #9b9b9b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    margin-right: 16px;
    margin-left: 23px; }

.form-filter-jobs {
  margin-top: 24px; }
  .form-filter-jobs .form-group {
    margin-bottom: 24px; }
    .form-filter-jobs .form-group .form-control {
      font-size: 12px; }

.pagination {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .pagination ul li {
      display: inline-block;
      padding: 0 8px; }
      .pagination ul li a {
        color: inherit; }
      .pagination ul li:hover {
        background-color: #cdcdcd; }
      .pagination ul li:first-child, .pagination ul li:last-child {
        letter-spacing: 0.8px; }
      .pagination ul li:first-child {
        margin-right: 20px; }
      .pagination ul li:last-child {
        margin-left: 20px; }
    .pagination ul li.active {
      background-color: #cdcdcd; }

.alert {
  position: relative;
  margin-bottom: 8px;
  background-color: white; }
  .alert .h3 {
    line-height: 40px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center; }
  .alert .alert-remove {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 24px;
    margin: auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: inherit; }
  .alert.alert-lg {
    padding: 38px 10px; }

.badge {
  border-radius: 2px;
  background-color: #ededed;
  padding: 4px 8px;
  font-size: 12px;
  color: #4a4a4a; }
  .badge:hover {
    cursor: pointer; }
  .badge.border {
    border-radius: 2px;
    border: solid 0.5px #9b9b9b; }
  .badge.white {
    background-color: white; }
  .badge.button {
    background-color: #f2f2f2;
    border: solid 0.5px #f2f2f2; }
    .badge.button:hover {
      background-color: #d8d8d8;
      cursor: pointer; }

.section-customer .owl-carousel {
  position: relative;
  margin-top: 60px; }
  .section-customer .owl-carousel .owl-stage-outer {
    margin: auto; }
.section-customer .owl-theme .owl-nav {
  width: 100%;
  margin-top: 0; }
  .section-customer .owl-theme .owl-nav [class*="owl-"] {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5); }
    .section-customer .owl-theme .owl-nav [class*="owl-"]:hover {
      background-color: black; }
  .section-customer .owl-theme .owl-nav .owl-next, .section-customer .owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block; }
  .section-customer .owl-theme .owl-nav .owl-next {
    right: 0; }
  .section-customer .owl-theme .owl-nav .owl-prev {
    left: 0; }

.row, .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin-left: -12px;
  margin-right: -12px; }
  .row:before, .row:after {
    display: table;
    content: " ";
    clear: both; }

.clear {
  clear: both; }

div[class*="col-"] {
  position: relative;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 1px; }

@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    width: calc(12 * 100% / 12); }

  .col-lg-11 {
    width: calc(11 * 100% / 12); }

  .col-lg-10 {
    width: calc(10 * 100% / 12); }

  .col-lg-9 {
    width: calc(9 * 100% / 12); }

  .col-lg-8 {
    width: calc(8 * 100% / 12); }

  .col-lg-7 {
    width: calc(7 * 100% / 12); }

  .col-lg-6 {
    width: calc(6 * 100% / 12); }

  .col-lg-5 {
    width: calc(5 * 100% / 12); }

  .col-lg-4 {
    width: calc(4 * 100% / 12); }

  .col-lg-3 {
    width: calc(3 * 100% / 12); }

  .col-lg-2 {
    width: calc(2 * 100% / 12); }

  .col-lg-1 {
    width: calc(1 * 100% / 12); } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .col-md-12 {
    width: calc(12 * 100% / 12); }

  .col-md-11 {
    width: calc(11 * 100% / 12); }

  .col-md-10 {
    width: calc(10 * 100% / 12); }

  .col-md-9 {
    width: calc(9 * 100% / 12); }

  .col-md-8 {
    width: calc(8 * 100% / 12); }

  .col-md-7 {
    width: calc(7 * 100% / 12); }

  .col-md-6 {
    width: calc(6 * 100% / 12); }

  .col-md-5 {
    width: calc(5 * 100% / 12); }

  .col-md-4 {
    width: calc(4 * 100% / 12); }

  .col-md-3 {
    width: calc(3 * 100% / 12); }

  .col-md-2 {
    width: calc(2 * 100% / 12); }

  .col-md-1 {
    width: calc(1 * 100% / 12); } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-12 {
    width: calc(12 * 100% / 12); }

  .col-sm-11 {
    width: calc(11 * 100% / 12); }

  .col-sm-10 {
    width: calc(10 * 100% / 12); }

  .col-sm-9 {
    width: calc(9 * 100% / 12); }

  .col-sm-8 {
    width: calc(8 * 100% / 12); }

  .col-sm-7 {
    width: calc(7 * 100% / 12); }

  .col-sm-6 {
    width: calc(6 * 100% / 12); }

  .col-sm-5 {
    width: calc(5 * 100% / 12); }

  .col-sm-4 {
    width: calc(4 * 100% / 12); }

  .col-sm-3 {
    width: calc(3 * 100% / 12); }

  .col-sm-2 {
    width: calc(2 * 100% / 12); }

  .col-sm-1 {
    width: calc(1 * 100% / 12); } }
@media only screen and (max-width: 767px) {
  .col-xs-12 {
    width: calc(12 * 100% / 12); }

  .col-xs-11 {
    width: calc(11 * 100% / 12); }

  .col-xs-10 {
    width: calc(10 * 100% / 12); }

  .col-xs-9 {
    width: calc(9 * 100% / 12); }

  .col-xs-8 {
    width: calc(8 * 100% / 12); }

  .col-xs-7 {
    width: calc(7 * 100% / 12); }

  .col-xs-6 {
    width: calc(6 * 100% / 12); }

  .col-xs-5 {
    width: calc(5 * 100% / 12); }

  .col-xs-4 {
    width: calc(4 * 100% / 12); }

  .col-xs-3 {
    width: calc(3 * 100% / 12); }

  .col-xs-2 {
    width: calc(2 * 100% / 12); }

  .col-xs-1 {
    width: calc(1 * 100% / 12); } }
.grid-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -12px;
  margin-right: -12px; }
  .grid-item .box-item {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
    flex: 1; }

.banner {
  background-color: white;
  padding: 16px 16px 18px 16px;
  border-radius: 4px; }
  .banner p {
    margin: 6px 0 20px; }

.item {
  background-color: white;
  padding: 16px 16px 29px;
  margin-bottom: 24px; }
  .item address {
    margin-top: 16px; }
    .item address div {
      font-size: 12px;
      margin-bottom: 8px; }
      .item address div i {
        margin-right: 10px; }
  .item h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 29px; }
  .item h5 {
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px; }

.cards .card .card-image {
  height: 280px;
  background-color: #dedede; }
  .cards .card .card-image img {
    width: 100%;
    height: 100%;
    display: block; }
.cards .card .card-info {
  background-color: white;
  padding: 24px 24px 27px; }
  .cards .card .card-info .card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; }
  .cards .card .card-info .card-desc {
    font-weight: 500;
    margin: 8px 0 10px; }
.cards .card .card-action {
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  background-color: #b2b2b2; }

.job-list {
  margin-top: 4px;
  margin-bottom: 48px; }
  .job-list .job {
    border-top: 2px solid #e8e8e8;
    padding-top: 16px;
    margin-top: 32px;
    display: flex; }
    .job-list .job .job-col:nth-child(1) {
      flex-grow: 1; }
    .job-list .job .job-col:nth-child(2) {
      width: 289px; }
    .job-list .job .job-col:nth-child(3) {
      width: 22px;
      text-align: center; }
      .job-list .job .job-col:nth-child(3) a {
        color: inherit; }
        .job-list .job .job-col:nth-child(3) a i {
          font-size: 24px; }
    .job-list .job .job-col .job-title {
      font-size: 16px;
      font-weight: 500; }
      .job-list .job .job-col .job-title .badge {
        border-radius: 2px;
        background-color: #bcbcbc;
        color: white;
        margin-left: 16px;
        font-weight: 300; }
    .job-list .job .job-col .job-time {
      display: block;
      font-size: 12px;
      font-weight: 500;
      line-height: 19px;
      margin: 8px 0 16px; }
    .job-list .job .job-col .job-address {
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      line-height: 19px;
      letter-spacing: 0.6px;
      color: #9b9b9b;
      margin-top: 5px; }
    .job-list .job .job-col .job-price {
      line-height: 19px;
      font-size: 12px;
      font-weight: 500;
      display: block;
      margin-top: 11px; }

.job-detail {
  display: flex;
  padding: 16px 24px 24px 40px;
  margin-bottom: 8px;
  background-color: white; }
  .job-detail .job-detail-left {
    flex: 1; }
    .job-detail .job-detail-left .job-title {
      line-height: 40px; }
      .job-detail .job-detail-left .job-title .badge {
        border-radius: 2px;
        background-color: #bcbcbc;
        color: white;
        height: 27px;
        vertical-align: middle; }
    .job-detail .job-detail-left .job-address {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: #9b9b9b;
      margin: 16px 0 8px;
      line-height: 26px; }
    .job-detail .job-detail-left .job-address i,
    .job-detail .job-detail-left .job-price i {
      height: 26px;
      margin-right: 16px;
      font-size: 24px;
      vertical-align: middle;
      color: #444; }
    .job-detail .job-detail-left .job-price {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 16px;
      line-height: 32px; }
    .job-detail .job-detail-left .group-social {
      margin-top: 15px; }
  .job-detail .job-detail-right {
    width: 236px; }
    .job-detail .job-detail-right .job-detail-action {
      display: flex;
      align-items: center;
      justify-content: center; }
      .job-detail .job-detail-right .job-detail-action a:first-child {
        flex: 1;
        text-align: right;
        color: inherit; }
        .job-detail .job-detail-right .job-detail-action a:first-child i {
          font-size: 24px; }
      .job-detail .job-detail-right .job-detail-action a:last-child {
        width: 136px;
        margin-left: 26px; }
    .job-detail .job-detail-right .time-post {
      display: block;
      font-size: 12px;
      font-weight: 500;
      line-height: 19px;
      text-align: right;
      margin: 16px 0 0; }
    .job-detail .job-detail-right .spacing {
      margin-bottom: 57px; }

.job-description {
  padding: 16px 40px;
  margin-bottom: 8px; }
  .job-description h5 {
    text-transform: uppercase; }
  .job-description ul {
    margin-top: 8px;
    margin-bottom: 32px; }
    .job-description ul li {
      font-size: 14px;
      line-height: 1.86;
      margin-left: 17px;
      padding-left: 10px; }
  .job-description .photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px; }
    .job-description .photos .photo {
      margin-right: 8px;
      margin-bottom: 115px; }
      .job-description .photos .photo img {
        width: 100%;
        height: 100%;
        display: block; }
      .job-description .photos .photo:nth-child(1) {
        width: 320px;
        height: 251px; }
      .job-description .photos .photo:nth-child(2) {
        width: 291px;
        height: 251px; }

.job-summary {
  padding: 16px 16px 0px;
  margin-bottom: 8px; }
  .job-summary h5 {
    text-transform: uppercase;
    margin-bottom: 8px; }
  .job-summary-info {
    margin-bottom: 12px; }
    .job-summary-info div {
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 6px; }
    .job-summary-info dl dt {
      font-weight: 600;
      line-height: 1.71; }
      .job-summary-info dl dt a {
        color: inherit; }
    .job-summary-info dl dd {
      padding-top: 5px;
      padding-bottom: 16px; }

.job-image {
  width: 100%;
  height: 221px;
  display: block;
  margin-bottom: 8px; }
  .job-image img {
    width: 100%;
    height: 100%; }

.experiences .experience {
  padding: 16px 24px 24px 24px;
  border-radius: 2px;
  background-color: #f5f5f5;
  border: solid 1px #dfdfdf;
  font-size: 16px;
  position: relative;
  margin-bottom: 16px;
  transition: .5s; }
  .experiences .experience .name {
    line-height: 32px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px; }
  .experiences .experience .position, .experiences .experience .date {
    margin-right: 26px;
    font-weight: 500; }
  .experiences .experience .date i, .experiences .experience .address i {
    margin-right: 16px; }
  .experiences .experience .address {
    color: #9b9b9b; }
  .experiences .experience .edit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 24px;
    line-height: 23px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    margin: auto;
    display: flex;
    align-items: center; }
  .experiences .experience:hover {
    background-color: #ebebeb; }
.experiences .experience.add {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  padding: 37px 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: inherit;
  transition: .5s; }
  .experiences .experience.add i {
    margin-right: 16px; }
  .experiences .experience.add:hover {
    background-color: gainsboro; }

.portlet {
  padding: 16px 24px 56px; }
  .portlet .portlet-header {
    display: flex; }
    .portlet .portlet-header .portlet-title, .portlet .portlet-header .portlet-action {
      flex: 1; }
    .portlet .portlet-header .portlet-action {
      text-align: right;
      font-size: 12px;
      line-height: 19px; }
      .portlet .portlet-header .portlet-action a:hover:not(.active) {
        text-decoration: underline;
        cursor: pointer; }
      .portlet .portlet-header .portlet-action a.active {
        font-weight: bold; }

.profile-general {
  padding: 16px; }
  .profile-general .profile-avatar {
    margin-bottom: 16px;
    height: 200px;
    background-color: #dedede;
    border: solid 1px #9b9b9b; }
    .profile-general .profile-avatar img {
      width: 100%;
      height: 100%;
      display: block; }
  .profile-general .profile-name {
    text-align: center;
    position: relative; }
    .profile-general .profile-name i {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      font-size: 12px;
      display: flex;
      align-items: center; }
  .profile-general .profile-job {
    text-align: center; }
  .profile-general .profile-des {
    font-size: 12px;
    margin: 8px auto 24px; }
  .profile-general .profile-button {
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-color: #4a4a4a;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    display: block;
    text-align: center; }
    .profile-general .profile-button:hover {
      background-color: #646464;
      cursor: pointer; }
  .profile-general .profile-date {
    display: block;
    font-size: 10px;
    text-align: right;
    margin: 10px 0 39px; }
  .profile-general .profile-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 24px; }
    .profile-general .profile-checkbox > div {
      width: 80%;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase; }
    .profile-general .profile-checkbox label {
      flex: 1;
      text-align: right; }
  .profile-general ul.profile-menu {
    list-style-type: none; }
    .profile-general ul.profile-menu li {
      display: block;
      font-size: 12px;
      line-height: 19px;
      font-weight: 500;
      margin-bottom: 16px;
      text-transform: uppercase;
      position: relative; }
      .profile-general ul.profile-menu li a {
        color: inherit;
        display: block;
        padding-right: 12px; }
      .profile-general ul.profile-menu li:after {
        content: "\276F";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 4px;
        margin: auto;
        display: flex;
        align-items: center;
        font-weight: bold; }
  .profile-general .h6 {
    margin-bottom: 8px; }
.profile-contact {
  padding: 24px;
  padding-bottom: 31px; }
  .profile-contact .h4 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .profile-contact .form-group {
    margin-bottom: 16px; }
    .profile-contact .form-group .control-label {
      margin-bottom: 4px; }
.profile .badges {
  display: flex;
  flex-wrap: wrap; }
  .profile .badges .badge {
    margin-right: 8px;
    margin-bottom: 8px; }
    .profile .badges .badge:last-child {
      margin-right: 0; }

.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal .modal-content {
    background-color: white;
    padding: 24px 32px; }
    .modal .modal-content .modal-header {
      position: relative;
      text-align: center; }
      .modal .modal-content .modal-header .modal-sub-title {
        font-size: 18px;
        font-weight: 500;
        margin: 8px auto; }
      .modal .modal-content .modal-header .address {
        font-style: normal;
        font-size: 12px; }
        .modal .modal-content .modal-header .address span i {
          font-size: 14px;
          margin-right: 10px; }
        .modal .modal-content .modal-header .address span:first-child {
          margin-right: 42px; }
      .modal .modal-content .modal-header .divider {
        width: 444px;
        height: 0px;
        border-bottom: solid 2px #e8e8e8;
        margin: 24px auto; }
      .modal .modal-content .modal-header .remove {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #9b9b9b;
        font-size: 16px; }
    .modal .modal-content .modal-body {
      margin-top: 24px;
      min-height: 400px; }
    .modal .modal-content .modal-footer {
      padding-top: 8px; }

.modal.showing {
  display: flex; }

.modal.modal-md .modal-content {
  width: 696px; }

.header {
  text-transform: uppercase;
  font-weight: bold;
  height: 85.6px;
  padding-top: 32px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #4a4a4a; }
  .header .logo {
    width: 240px;
    height: 54px; }
    .header .logo img {
      width: 100%;
      height: 100%; }
  .header .header-menu {
    flex: 1;
    height: 100%;
    line-height: 53.6px;
    margin-left: 100px; }
    .header .header-menu ul {
      list-style-type: none;
      display: flex; }
      .header .header-menu ul li {
        float: left;
        text-align: center;
        margin-right: 32px; }
        .header .header-menu ul li:last-child {
          margin-right: 0; }
        .header .header-menu ul li a {
          color: inherit;
          -webkit-transition: .5s;
          -moz-transition: .5s;
          transition: .5s;
          padding: 10px 20px; }
        .header .header-menu ul li:hover a {
          background-color: #007ecf;
          color: white;
          cursor: pointer; }
      .header .header-menu ul li.active a {
        background-color: #007ecf;
        color: white; }
  .header .header-right {
    display: flex;
    align-items: center; }
    .header .header-right .flag {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center; }
      .header .header-right .flag img {
        width: 28px;
        height: 20px;
        margin-right: 8px; }
      .header .header-right .flag i {
        flex: 1; }
    .header .header-right .login, .header .header-right .sign-up {
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 1em;
      color: #4a4a4a; }
    .header .header-right .login {
      margin-right: 10px; }
    .header .header-right .sign-up {
      background-color: white;
      border: 1px solid #9b9b9b; }
    .header .header-right .username {
      flex: 1;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.7px;
      text-align: right;
      margin-right: 16px;
      margin-left: 23px;
      text-transform: capitalize;
      height: 19px; }
    .header .header-right .avatar {
      width: 48px;
      height: 48px;
      border: 1px solid #9b9b9b;
      background-color: white;
      border-radius: 50%;
      display: block; }

.header .banner .banner-container {
  margin: 120px auto 0;
  position: relative;
  width: 1170px;
  height: 100%;
  display: flex;
  align-items: center; }
  .header .banner .banner-container .banner-content {
    width: 100%;
    text-align: center;
    color: white; }
    .header .banner .banner-container .banner-content .banner-title {
      font-size: 50px;
      font-weight: bold; }
    .header .banner .banner-container .banner-content .banner-sub-title {
      font-size: 30px; }
    .header .banner .banner-container .banner-content .banner-hr {
      display: block;
      width: 50%;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 30px auto 30px; }
    .header .banner .banner-container .banner-content .banner-des {
      font-size: 1.1em;
      line-height: 21px; }
    .header .banner .banner-container .banner-content .banner-button {
      background-color: #cf3a21;
      box-shadow: 1px 1px 1px #772113;
      color: white;
      width: 300px;
      height: 60px;
      line-height: 60px;
      display: block;
      font-size: 20px;
      margin: 40px auto 0;
      transition: all .5s; }
      .header .banner .banner-container .banner-content .banner-button:hover {
        background-color: #a32e1a;
        cursor: pointer; }
    .header .banner .banner-container .banner-content a.banner-scroll-down {
      display: block;
      margin: 60px auto 0;
      transition: all .5s; }
      .header .banner .banner-container .banner-content a.banner-scroll-down i {
        width: 60px;
        height: 60px; }
      .header .banner .banner-container .banner-content a.banner-scroll-down:hover {
        opacity: .5;
        cursor: pointer; }

.header .menu-top {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  line-height: 40px; }
  .header .menu-top .menu-top-content {
    display: flex; }
  .header .menu-top .menu-top-left, .header .menu-top .menu-top-right {
    width: 50%; }
  .header .menu-top .menu-top-left .telephone, .header .menu-top .menu-top-left .email {
    display: inline-block; }
    .header .menu-top .menu-top-left .telephone i, .header .menu-top .menu-top-left .email i {
      margin-right: 5px;
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px);
      transform: translateY(-2px); }
    .header .menu-top .menu-top-left .telephone a, .header .menu-top .menu-top-left .email a {
      color: inherit; }
  .header .menu-top .menu-top-left .telephone {
    margin-right: 20px; }
  .header .menu-top .menu-top-right {
    text-align: right; }
    .header .menu-top .menu-top-right ul {
      list-style-type: none; }
      .header .menu-top .menu-top-right ul li {
        display: inline-block; }
        .header .menu-top .menu-top-right ul li a {
          color: inherit;
          padding: 0 10px;
          display: inline-block; }
          .header .menu-top .menu-top-right ul li a i.icon {
            width: 25px;
            height: 25px; }
        .header .menu-top .menu-top-right ul li:first-child:after {
          content: "|"; }
        .header .menu-top .menu-top-right ul li:hover a {
          text-decoration: underline; }
      .header .menu-top .menu-top-right ul li.dropdown {
        position: relative; }
        .header .menu-top .menu-top-right ul li.dropdown .dropdown-content {
          z-index: 2000;
          display: none;
          position: absolute;
          background-color: #eee;
          color: #333;
          top: calc(100% + 10px);
          right: 10px;
          width: 160px; }
          .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul {
            position: relative;
            width: 100%; }
            .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul li {
              display: block;
              text-align: left;
              border-bottom: 1px solid #ddd; }
              .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul li a {
                display: block;
                text-decoration: none; }
                .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul li a i {
                  margin-right: 10px; }
              .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul li:first-child:after {
                content: ""; }
              .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul li:last-child {
                border-bottom: none; }
              .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul li:hover {
                background-color: rgba(0, 0, 0, 0.1); }
            .header .menu-top .menu-top-right ul li.dropdown .dropdown-content ul:before {
              content: "";
              position: absolute;
              top: -20px;
              right: 10px;
              width: 0px;
              height: 0px;
              display: block;
              border: 10px solid transparent;
              border-bottom-color: #eee; }
        .header .menu-top .menu-top-right ul li.dropdown:hover .dropdown-content {
          display: block; }
.header .menu-main {
  z-index: 10;
  display: block;
  line-height: 80px; }
  .header .menu-main .menu-main-content {
    display: flex; }
    .header .menu-main .menu-main-content .logo {
      width: 230px;
      height: 100%;
      display: inline-block; }
    .header .menu-main .menu-main-content ul {
      width: calc(100% - 230px);
      list-style-type: none;
      text-align: right; }
      .header .menu-main .menu-main-content ul li {
        display: inline-block;
        color: #ccc;
        transition: all .5s; }
        .header .menu-main .menu-main-content ul li a {
          display: inline-block;
          padding: 0 20px;
          color: inherit; }
        .header .menu-main .menu-main-content ul li:hover:not(.active) {
          box-shadow: inset 0 -4px #cf3a21;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.3); }
      .header .menu-main .menu-main-content ul li.active {
        box-shadow: inset 0 -4px #cf3a21;
        color: #fff; }

.header.scroll .menu-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  background-color: white;
  box-shadow: 0 0px 1px #eee; }
  .header.scroll .menu-main .menu-main-content ul li {
    color: #007ecf; }
    .header.scroll .menu-main .menu-main-content ul li:hover:not(.active) {
      box-shadow: inset 0 -4px #007ecf;
      background-color: transparent;
      color: #007ecf; }
  .header.scroll .menu-main .menu-main-content ul li.active {
    background-color: #007ecf;
    color: white;
    box-shadow: inset 0 -4px #007ecf; }

.footer {
  margin-top: 11px;
  padding: 0px 0 46px;
  background-color: #efefef; }
  .footer .footer-logo {
    width: 216px;
    height: 48px;
    margin-top: 24px; }
  .footer .footer-des {
    font-size: 12px;
    line-height: 1.67;
    margin-top: 24px; }
  .footer h5 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 57px;
    margin-bottom: 16px; }
  .footer p {
    height: 20px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 16px; }
    .footer p:last-child {
      margin-bottom: 0; }

.layout-1 {
  display: flex;
  margin-bottom: 80px; }
  .layout-1-left, .layout-1-right {
    width: 232px; }
  .layout-1-left {
    margin-left: 12px; }
  .layout-1-right {
    margin-right: 12px; }
  .layout-1-main {
    flex: 1;
    margin: 0 8px; }

.layout-2 {
  display: flex;
  margin-bottom: 80px; }
  .layout-2-main {
    flex: 1;
    margin-left: 132px;
    margin-right: 8px; }
  .layout-2-right {
    width: 232px; }

.sub-layout-2 {
  display: flex;
  margin-bottom: 8px; }
  .sub-layout-2 .sub-layout-2-main {
    flex: 1;
    margin-right: 8px; }
  .sub-layout-2 .sub-layout-2-right {
    width: 236px; }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0 auto; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: white;
  color: #4a4a4a;
  overflow-x: hidden; }
  @media only screen and (max-width: 1099px) {
    body {
      font-size: 0.9em; } }
  @media only screen and (max-width: 600px) {
    body {
      font-size: 0.8em; } }

a {
  text-decoration: none; }
  a:focus {
    outline: none; }

.img {
  max-width: 100%; }

.p {
  line-height: 21px;
  margin-bottom: 20px; }

.wrapper {
  position: relative;
  width: 1440px;
  margin: auto;
  display: block;
  background-color: #f7f7f7; }

.section {
  padding: 4% 0; }

.container {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (max-width: 1024px) {
    .container {
      padding: 0 10px; } }

.container.container-936 {
  max-width: 936px; }

.container-fluid {
  max-width: 100%; }

.content {
  position: relative;
  padding: 24px;
  background-color: white; }

.box {
  padding: 24px;
  border-radius: 2px;
  border: solid 1px #dfdfdf;
  margin-bottom: 16px; }

.box-grey {
  padding: 16px 16px 24px 24px;
  border-radius: 2px;
  background-color: #f5f5f5;
  border: solid 1px #4a4a4a; }

.resize {
  resize: both;
  overflow: auto; }

.image {
  width: 100%; }

.border-radius-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #9b9b9b;
  width: 120px;
  height: 120px; }
  .circle img {
    width: 100%;
    height: 100%; }

.border-none {
  border: none; }

.pointer {
  cursor: pointer; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.lowercase {
  text-transform: lowercase; }

.bold-500 {
  font-weight: 500; }

.bold-600 {
  font-weight: 600; }

.bold {
  font-weight: bold; }

.black {
  background-color: #4a4a4a; }

.white {
  background-color: white; }

.light-grey {
  background-color: #f2f2f2; }

.primary {
  background-color: #007ecf; }

.font-size-20 {
  font-size: 20px; }

.font-size-18 {
  font-size: 18px; }

.font-size-16 {
  font-size: 16px; }

.font-size-14 {
  font-size: 14px; }

.font-size-12 {
  font-size: 12px; }

.font-size-10 {
  font-size: 10px; }

.width-20 {
  width: 20px; }

.width-40 {
  width: 40px; }

.width-60 {
  width: 60px; }

.width-80 {
  width: 80px; }

.width-100 {
  width: 100px; }

.width-120 {
  width: 120px; }

.width-140 {
  width: 140px; }

.width-160 {
  width: 160px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-primary {
  color: #007ecf; }

.text-accent {
  color: #cf3a21; }

.text-muted {
  color: #777; }

.text-inherit {
  color: inherit; }

.text-black {
  color: #4a4a4a; }

.text-red {
  color: red; }

.text-light-blue {
  color: #66add9 !important; }

.text-grey {
  color: #898989; }

.text-white {
  color: #fff; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.flex {
  width: 100%;
  display: flex; }

.flex-start {
  align-items: flex-start; }

.flex-center {
  align-items: center; }

.flex-end {
  align-items: flex-end; }

.flex-1 {
  flex: 1; }

.hide {
  display: none; }

.margin-0 {
  margin: 0px; }

.margin-top-0 {
  margin-top: 0px; }

.margin-right-0 {
  margin-right: 0px; }

.margin-bottom-0 {
  margin-bottom: 0px; }

.margin-left-0 {
  margin-left: 0px; }

.padding-0 {
  padding: 0px; }

.padding-top-0 {
  padding-top: 0px; }

.padding-right-0 {
  padding-right: 0px; }

.padding-bottom-0 {
  padding-bottom: 0px; }

.padding-left-0 {
  padding-left: 0px; }

.margin-1 {
  margin: 1px; }

.margin-top-1 {
  margin-top: 1px; }

.margin-right-1 {
  margin-right: 1px; }

.margin-bottom-1 {
  margin-bottom: 1px; }

.margin-left-1 {
  margin-left: 1px; }

.padding-1 {
  padding: 1px; }

.padding-top-1 {
  padding-top: 1px; }

.padding-right-1 {
  padding-right: 1px; }

.padding-bottom-1 {
  padding-bottom: 1px; }

.padding-left-1 {
  padding-left: 1px; }

.margin-2 {
  margin: 2px; }

.margin-top-2 {
  margin-top: 2px; }

.margin-right-2 {
  margin-right: 2px; }

.margin-bottom-2 {
  margin-bottom: 2px; }

.margin-left-2 {
  margin-left: 2px; }

.padding-2 {
  padding: 2px; }

.padding-top-2 {
  padding-top: 2px; }

.padding-right-2 {
  padding-right: 2px; }

.padding-bottom-2 {
  padding-bottom: 2px; }

.padding-left-2 {
  padding-left: 2px; }

.margin-3 {
  margin: 3px; }

.margin-top-3 {
  margin-top: 3px; }

.margin-right-3 {
  margin-right: 3px; }

.margin-bottom-3 {
  margin-bottom: 3px; }

.margin-left-3 {
  margin-left: 3px; }

.padding-3 {
  padding: 3px; }

.padding-top-3 {
  padding-top: 3px; }

.padding-right-3 {
  padding-right: 3px; }

.padding-bottom-3 {
  padding-bottom: 3px; }

.padding-left-3 {
  padding-left: 3px; }

.margin-4 {
  margin: 4px; }

.margin-top-4 {
  margin-top: 4px; }

.margin-right-4 {
  margin-right: 4px; }

.margin-bottom-4 {
  margin-bottom: 4px; }

.margin-left-4 {
  margin-left: 4px; }

.padding-4 {
  padding: 4px; }

.padding-top-4 {
  padding-top: 4px; }

.padding-right-4 {
  padding-right: 4px; }

.padding-bottom-4 {
  padding-bottom: 4px; }

.padding-left-4 {
  padding-left: 4px; }

.margin-5 {
  margin: 5px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-left-5 {
  margin-left: 5px; }

.padding-5 {
  padding: 5px; }

.padding-top-5 {
  padding-top: 5px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-left-5 {
  padding-left: 5px; }

.margin-6 {
  margin: 6px; }

.margin-top-6 {
  margin-top: 6px; }

.margin-right-6 {
  margin-right: 6px; }

.margin-bottom-6 {
  margin-bottom: 6px; }

.margin-left-6 {
  margin-left: 6px; }

.padding-6 {
  padding: 6px; }

.padding-top-6 {
  padding-top: 6px; }

.padding-right-6 {
  padding-right: 6px; }

.padding-bottom-6 {
  padding-bottom: 6px; }

.padding-left-6 {
  padding-left: 6px; }

.margin-7 {
  margin: 7px; }

.margin-top-7 {
  margin-top: 7px; }

.margin-right-7 {
  margin-right: 7px; }

.margin-bottom-7 {
  margin-bottom: 7px; }

.margin-left-7 {
  margin-left: 7px; }

.padding-7 {
  padding: 7px; }

.padding-top-7 {
  padding-top: 7px; }

.padding-right-7 {
  padding-right: 7px; }

.padding-bottom-7 {
  padding-bottom: 7px; }

.padding-left-7 {
  padding-left: 7px; }

.margin-8 {
  margin: 8px; }

.margin-top-8 {
  margin-top: 8px; }

.margin-right-8 {
  margin-right: 8px; }

.margin-bottom-8 {
  margin-bottom: 8px; }

.margin-left-8 {
  margin-left: 8px; }

.padding-8 {
  padding: 8px; }

.padding-top-8 {
  padding-top: 8px; }

.padding-right-8 {
  padding-right: 8px; }

.padding-bottom-8 {
  padding-bottom: 8px; }

.padding-left-8 {
  padding-left: 8px; }

.margin-9 {
  margin: 9px; }

.margin-top-9 {
  margin-top: 9px; }

.margin-right-9 {
  margin-right: 9px; }

.margin-bottom-9 {
  margin-bottom: 9px; }

.margin-left-9 {
  margin-left: 9px; }

.padding-9 {
  padding: 9px; }

.padding-top-9 {
  padding-top: 9px; }

.padding-right-9 {
  padding-right: 9px; }

.padding-bottom-9 {
  padding-bottom: 9px; }

.padding-left-9 {
  padding-left: 9px; }

.margin-10 {
  margin: 10px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-left-10 {
  margin-left: 10px; }

.padding-10 {
  padding: 10px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-left-10 {
  padding-left: 10px; }

.margin-16 {
  margin: 16px; }

.margin-top-16 {
  margin-top: 16px; }

.margin-right-16 {
  margin-right: 16px; }

.margin-bottom-16 {
  margin-bottom: 16px; }

.margin-left-16 {
  margin-left: 16px; }

.padding-16 {
  padding: 16px; }

.padding-top-16 {
  padding-top: 16px; }

.padding-right-16 {
  padding-right: 16px; }

.padding-bottom-16 {
  padding-bottom: 16px; }

.padding-left-16 {
  padding-left: 16px; }

.margin-20 {
  margin: 20px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-left-20 {
  margin-left: 20px; }

.padding-20 {
  padding: 20px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-right-20 {
  padding-right: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-left-20 {
  padding-left: 20px; }

.margin-24 {
  margin: 24px; }

.margin-top-24 {
  margin-top: 24px; }

.margin-right-24 {
  margin-right: 24px; }

.margin-bottom-24 {
  margin-bottom: 24px; }

.margin-left-24 {
  margin-left: 24px; }

.padding-24 {
  padding: 24px; }

.padding-top-24 {
  padding-top: 24px; }

.padding-right-24 {
  padding-right: 24px; }

.padding-bottom-24 {
  padding-bottom: 24px; }

.padding-left-24 {
  padding-left: 24px; }

.margin-30 {
  margin: 30px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-right-30 {
  margin-right: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-left-30 {
  margin-left: 30px; }

.padding-30 {
  padding: 30px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-right-30 {
  padding-right: 30px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-left-30 {
  padding-left: 30px; }

.margin-32 {
  margin: 32px; }

.margin-top-32 {
  margin-top: 32px; }

.margin-right-32 {
  margin-right: 32px; }

.margin-bottom-32 {
  margin-bottom: 32px; }

.margin-left-32 {
  margin-left: 32px; }

.padding-32 {
  padding: 32px; }

.padding-top-32 {
  padding-top: 32px; }

.padding-right-32 {
  padding-right: 32px; }

.padding-bottom-32 {
  padding-bottom: 32px; }

.padding-left-32 {
  padding-left: 32px; }

.margin-40 {
  margin: 40px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-right-40 {
  margin-right: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-left-40 {
  margin-left: 40px; }

.padding-40 {
  padding: 40px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-right-40 {
  padding-right: 40px; }

.padding-bottom-40 {
  padding-bottom: 40px; }

.padding-left-40 {
  padding-left: 40px; }

.margin-48 {
  margin: 48px; }

.margin-top-48 {
  margin-top: 48px; }

.margin-right-48 {
  margin-right: 48px; }

.margin-bottom-48 {
  margin-bottom: 48px; }

.margin-left-48 {
  margin-left: 48px; }

.padding-48 {
  padding: 48px; }

.padding-top-48 {
  padding-top: 48px; }

.padding-right-48 {
  padding-right: 48px; }

.padding-bottom-48 {
  padding-bottom: 48px; }

.padding-left-48 {
  padding-left: 48px; }

.margin-50 {
  margin: 50px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-right-50 {
  margin-right: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-left-50 {
  margin-left: 50px; }

.padding-50 {
  padding: 50px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-right-50 {
  padding-right: 50px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-left-50 {
  padding-left: 50px; }

.margin-52 {
  margin: 52px; }

.margin-top-52 {
  margin-top: 52px; }

.margin-right-52 {
  margin-right: 52px; }

.margin-bottom-52 {
  margin-bottom: 52px; }

.margin-left-52 {
  margin-left: 52px; }

.padding-52 {
  padding: 52px; }

.padding-top-52 {
  padding-top: 52px; }

.padding-right-52 {
  padding-right: 52px; }

.padding-bottom-52 {
  padding-bottom: 52px; }

.padding-left-52 {
  padding-left: 52px; }

.margin-96 {
  margin: 96px; }

.margin-top-96 {
  margin-top: 96px; }

.margin-right-96 {
  margin-right: 96px; }

.margin-bottom-96 {
  margin-bottom: 96px; }

.margin-left-96 {
  margin-left: 96px; }

.padding-96 {
  padding: 96px; }

.padding-top-96 {
  padding-top: 96px; }

.padding-right-96 {
  padding-right: 96px; }

.padding-bottom-96 {
  padding-bottom: 96px; }

.padding-left-96 {
  padding-left: 96px; }

.hide {
  display: none; }

@media only screen and (min-width: 1200px) {
  .hide-lg {
    display: none !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hide-md {
    display: none !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hide-sm {
    display: none !important; } }
@media only screen and (max-width: 767px) {
  .hide-xs {
    display: none !important; } }
.grey-lighten-1 {
  background-color: #eee; }

.grey-lighten-2 {
  background-color: #f7f7f7; }

.title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #4a4a4a; }

.section {
  padding: 4% 0; }

.explore-today {
  display: block;
  width: 397px;
  height: 83px;
  line-height: 83px;
  text-align: center;
  text-transform: uppercase;
  background-color: #c0c0c0;
  margin: 24px auto 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px; }
  .explore-today:hover {
    cursor: pointer; }

.welcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .welcome .welcome-content {
    width: 100%; }
  .welcome .welcome-desc {
    font-size: 18px;
    text-align: center; }
  .welcome .form-find {
    width: 985px;
    display: flex;
    margin: auto;
    padding: 16px 25px;
    margin: 32px auto 16px;
    background-color: #f8f8f8; }
    .welcome .form-find .form-input {
      position: relative;
      margin-right: 20px; }
      .welcome .form-find .form-input input {
        width: 100%;
        height: 80px;
        border: 1px solid #9b9b9b;
        padding: 0 10px 0 50px;
        font-size: 16px;
        font-weight: 300; }
      .welcome .form-find .form-input i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 14px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin: auto; }
      .welcome .form-find .form-input:nth-child(1) {
        width: 336px; }
      .welcome .form-find .form-input:nth-child(2) {
        flex: 1; }
      .welcome .form-find .form-input:nth-child(3) {
        flex: 1; }
    .welcome .form-find .find {
      width: 80px;
      height: 80px;
      line-height: 80px;
      display: inline-block;
      text-align: center;
      background-color: #d5d5d5;
      color: white;
      font-weight: bold;
      font-size: 18px; }
  .welcome .advance-search {
    width: 985px;
    text-transform: uppercase;
    text-align: right;
    margin: auto;
    display: block;
    font-size: 14px;
    font-weight: 600; }
    .welcome .advance-search a {
      color: #4a4a4a;
      border-bottom: 1px solid #555; }
  .welcome .banner-container {
    color: #4a4a4a; }
    .welcome .banner-container h5 {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      margin: 44px auto 13px; }

.hot-location {
  padding: 54px 0 56px; }
  .hot-location h3 {
    margin-bottom: 24px;
    font-weight: bold; }
  .hot-location h3.open-opp {
    margin-top: 100px; }

.work_in_japan {
  padding: 80px 0 68px; }
  .work_in_japan .work {
    margin-top: 48px; }
    .work_in_japan .work .work-title {
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center; }
    .work_in_japan .work .work-number {
      font-size: 80px;
      font-weight: 600;
      line-height: 131px;
      letter-spacing: 3.5px;
      text-align: center; }

.section-sign-in, .section-sign-up {
  margin-top: 58.4px;
  margin-bottom: 40px; }
  .section-sign-in .h3, .section-sign-up .h3 {
    line-height: 40px; }

.social-list {
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-list .social {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #4a4a4a;
    color: white;
    font-size: 24px;
    margin-right: 24px; }
    .social-list .social:hover {
      background-color: #313131;
      cursor: pointer; }
    .social-list .social:last-child {
      margin-right: 0; }

.form-sign-in, .form-sign-up {
  margin: 0 auto; }
  .form-sign-in .submit, .form-sign-up .submit {
    width: 140px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px; }

.form-sign-up {
  width: 575px;
  padding: 0 47px; }

.form-sign-in {
  width: 400px; }

.post-apply {
  margin-top: 58.4px;
  margin-bottom: 81px; }
  .post-apply .btn-group {
    margin-top: 16px;
    display: flex;
    justify-content: center; }
    .post-apply .btn-group .btn {
      width: 140px;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      margin-right: 24px; }
      .post-apply .btn-group .btn:last-child {
        margin-right: 0; }

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(760px - 85.59px);
  width: 100%; }

.section-advance-search .see-more {
  font-size: 12px;
  font-weight: 500;
  margin: 9px 9px 0px 26px;
  display: block;
  color: inherit; }
  .section-advance-search .see-more:hover {
    text-decoration: underline; }
.section-advance-search h6 {
  margin-top: 32px;
  margin-bottom: 8px; }

.subscribe {
  background-color: #f1f1f1;
  padding: 16px 8px 24px;
  margin-bottom: 8px;
  text-align: center; }
  .subscribe p {
    font-size: 12px;
    font-weight: 300;
    margin: 8px auto 16px; }
  .subscribe .input-icon input {
    font-size: 12px; }

.adv {
  background-color: #dedede;
  border: solid 1px #e1e1e1;
  padding: 0 0px 24px; }
  .adv .adv-image {
    height: 202px;
    display: block; }
    .adv .adv-image img {
      width: 100%;
      height: 100%; }
  .adv .adv-text {
    padding: 0 8px; }
  .adv .h4 {
    margin: 24px auto; }

.section-individual-detail .content .content-main {
  margin-left: 132px; }

.group-social {
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #9b9b9b;
  line-height: 19px; }
  .group-social span {
    margin-right: 11px; }
  .group-social a {
    display: inline-block;
    color: inherit;
    line-height: 18px; }
    .group-social a i {
      vertical-align: middle;
      font-size: 20px; }

.for-clients .section-2 {
  padding-top: 63px; }
  .for-clients .section-2 .h3 {
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase; }
  .for-clients .section-2 .des {
    font-size: 18px;
    text-align: center;
    margin-top: 24px; }

/*# sourceMappingURL=style.css.map */
