{% set post = __SELF__.post %}
<section class="section-blog-detail grey-lighten-2">
    <div class="container">
        <div class="blog-container">
            <div class="blog-content">
                <div class="blog-detail">
                    <div class="blog-detail-header">
                        <a href="#" class="btn-travel margin-bottom-24">travel</a>
                        <h1 class="h1 text-center">{{ post.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="blog-sidebar"></div>
        </div>
        <div class="blog-container">
            <div class="blog-content">
                <div class="blog-detail">
                    <div class="thumbnail" style="height: 501px">
                        {% if post.featured_images.count %}
                        {% for image in post.featured_images %}
                        <img
                                data-src="{{ image.filename }}"
                                src="{{ image.path }}"
                                alt="{{ image.description }}"
                                style="max-width: 100%" />
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="blog-detail-time">
                        <div class="share">
                            Share
                            <a href="#"><i class="icon icon-facebook-24"></i></a>
                            <a href="#"><i class="icon icon-twitter-24"></i></a>
                            <a href="#"><i class="icon icon-google-24"></i></a>
                        </div>
                        <h4 class="h4">Published {{ post.created_at|date('F d, Y') }}</h4>
                    </div>
                    <div>
                        {{ post.content_html|raw }}
                    </div>

                    <div class="divider"></div>
                    <div class="section-homepage">
                        <h3 class="h3 text-primary text-center">RELATED ARTICLES</h3>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="work">
                                    <div class="work-image"><img src="{{ 'assets/images/Home-Blogpost4.jpg'|theme }}" alt=""></div>
                                    <div class="work-content">
                                        <h4 class="work-title">Why Las Vegas Hotel Rooms For You</h4>
                                        <time class="work-date">May 25, 2099</time>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="work">
                                    <div class="work-image"><img src="{{ 'assets/images/Home-Blogpost3.jpg'|theme }}" alt=""></div>
                                    <div class="work-content">
                                        <h4 class="work-title">Traveling To Barcelona</h4>
                                        <time class="work-date">May 25, 2099</time>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="work">
                                    <div class="work-image"><img src="{{ 'assets/images/Home-Blogpost1.jpg'|theme }}" alt=""></div>
                                    <div class="work-content">
                                        <h4 class="work-title">Live Poker How To Win Tournament Games</h4>
                                        <time class="work-date">May 25, 2099</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-sidebar">
                <div class="category white">
                    <h4 class="h4 uppercase bold">all category</h4>
                    <ul class="menu-category">
                        <li><a href="#">feature</a></li>
                        <li><a href="#">category 1</a></li>
                        <li><a href="#">category 2</a></li>
                        <li><a href="#">category 3</a></li>
                        <li><a href="#">category 4</a></li>
                    </ul>
                    <div style="height: 160px;"></div>
                    <h6 class="h6 bold-500 text-center margin-bottom-20">follow us</h6>
                    <div class="cate-social">
                        <a href="#"><i class="icon icon-facebook-24"></i></a>
                        <a href="#"><i class="icon icon-twitter-24"></i></a>
                        <a href="#"><i class="icon icon-google-24"></i></a>
                    </div>
                </div>
                <div class="adv">
                    <div class="adv-image"><img src="{{ 'assets/images/card.png'|theme }}" alt=""></div>
                    <div class="adv-text">
                        <h4 class="h4 text-center text-white">HERE IS SPACE FOR AN AWESOME ADS OR CAMPAIGN</h4>
                        <a href="#" class="btn btn-block btn-lg btn-primary">Lorem ipsum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>