{% set job = __SELF__.job %}
{% set fields = __SELF__.fields %}
<div class="job-detail">
    <div class="job-detail-left">
        <h3 class="job-title h3 text-primary">{{ fields.position_for_web }} – {{ fields.job_category }} <a href="#" class="badge badge-primary">Featured</a></h3>
        <address class="job-address"><i class="fa fa-map-marker"></i> {{ fields.work_location_text_ }} </address>
        <div class="job-price"><i class="fa fa-dollar"></i> {{ fields.minimum_salary_vnd_ }} - {{ fields.maximum_salary_vnd_ }}</div>
        <div class="job-badge">
            <a href="#" class="badge">Healthcare</a>
            <a href="#" class="badge">Logistics</a>
        </div>
    </div>
    <div class="job-detail-right">
        <div class="job-detail-action">

            {% component 'bookmark' %}
            {% component 'applyjob' %}
        </div>

        <time class="time-post">Posted: <b>17/07/2017</b> to <b>24/08/2017</b></time>
        <div class="spacing"></div>
        <div class="group-social text-right">
            <span>Share vacancy</span>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
</div>
<div class="sub-layout-2">
    <div class="sub-layout-2-main">
        <div class="job-description white">
            <h5 class="h5 text-primary">Job Description</h5>
            {{ fields.job_description_for_web|nl2br }}

            <h5 class="h5 text-primary">Required Qualifications</h5>
            {{ fields.required_experience_for_web|nl2br|md }}

            <h5 class="h5 text-primary">Welfare</h5>
            {{ fields.benefits_allowance|nl2br }}
            <h5 class="h5">Company’s photos</h5>

            <div class="photos">
                <div class="photo"><img src="{{ 'assets/images/card.png'|theme }}" alt=""></div>
                <div class="photo"><img src="{{ 'assets/images/card.png'|theme }}" alt=""></div>
            </div>
        </div>
        <div class="job-detail white" style="margin-bottom: 0;">
            <div class="job-detail-left">
                <div class="group-social">
                    <span>Share vacancy</span>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="job-detail-right">
                <div class="job-detail-action">
                    {% component 'bookmark' %}
                    {% component 'applyjob' %}
                </div>
                <time class="time-post">Posted: <b>17/07/2017</b> to <b>24/08/2017</b></time>
            </div>
        </div>
    </div>
    <div class="sub-layout-2-right ">
        <div class="job-summary white">
            <h5 class="h5 text-primary">summary</h5>
            <div class="job-summary-info">
                <div><strong>Job Level:</strong> {{ fields.position_level }}</div>
                <div><strong>Language:</strong>
                    {% if fields.english_level_ != 'None' %}
                        English
                    {% endif %}
                    {% if fields.japanese_level != 'None' %}
                        , Japanese
                    {% endif %}
                </div>
                <div><strong>Company size:</strong> {{ fields.number_of_employees_in_group }}</div>
                <div><strong>Phone Number:</strong> <br> {{ fields.telephone_for_emergency_case_|number_format(0, '.', '-') }}</div>
            </div>
        </div>
        <div class="job-image">
            <img src="{{ 'assets/images/card.png'|theme }}" />
        </div>
        <div class="job-summary white">
            <h5 class="h5 text-primary">summary</h5>
            <div class="job-summary-info">
                <dl>
                    <dt><a href="">Equipment Maintenance Staff</a></dt>
                    <dd>$600 - $900</dd>
                    <dt><a href="">Assistant PR and Digital Marketing Manager</a></dt>
                    <dd>13.000.000 - 20.000.000 VND</dd>
                    <dt><a href="">PR | Digital Account Manager</a></dt>
                    <dd>13.000.000 - 20.000.000 VND</dd>
                    <dt><a href="">Equipment Maintenance Staff</a></dt>
                    <dd>$600 - $900</dd>
                    <dt><a href="">Assistant PR and Digital Marketing Manager</a></dt>
                    <dd>13.000.000 - 20.000.000 VND</dd>
                    <dt><a href="">PR | Digital Account Manager</a></dt>
                    <dd>13.000.000 - 20.000.000 VND</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{{dump(account.updateSettings)}}


{% component 'applyjob::popup' %}
{% component 'applyjob::popup2' %}
{% component 'applyjob::popup3' %}
{% component 'applyjob::popup4' %}

