<div data-control="toolbar">
    <a
        href="<?= Backend::url('tnt/job/recruiter/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Recruiter
    </a>

    <a
        href="#"
        data-request="onGetrecruiter"
        data-request-flash
        class="btn btn-default oc-icon-refresh">
        Get recruiters
    </a>

    <a
        href="#"
        data-request="onGetfields"
        data-request-flash
        class="btn btn-default oc-icon-adjust">
        Get Fields
    </a>
</div>
