<div data-control="toolbar loading-indicator-container">
    <a
        href="<?= Backend::url('tnt/job/job/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Job
    </a>
    <a href="#" class="btn btn btn-default oc-icon-refresh"
        data-request="onGetJob">
        Get Job
    </a>
    <a href="#" class="btn btn-default oc-icon-adjust" data-request="onFetchField" data-load-indicator="Getting Fields...">
        Get Fields
    </a>
</div>
